/**
 * Default: Mobile
 */

.Header {
  background: rgba(252, 252, 252, 0.9);
  height: $header-height;
  left: 0;
  min-width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  transition: background 0.3s ease-out;
  z-index: 999;

  &-inner {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 6vw;
  }

  &.is-transparent {
    background: none;
  }
}
