/**
 * Default: Mobile
 */
.Header {
  border-bottom: 1px solid #eee;
  background: $charcoal-xxlight;
  height: $header-height;
  left: 0;
  min-width: 320px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &-inner {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 $spacing-medium;
  }
}

/**
 * Tablet
 */
@media only screen and (min-width: 768px) {
  .Header {
    &-inner {
      padding: 0 $spacing-large;
    }
  }
}
