.PortfolioList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-item {
    margin: 0 auto $spacing-large auto;
  }
}

@media only screen and (min-width: 768px) {
  .PortfolioList {
    justify-content: flex-start;

    &-item {
      margin: 0 0 $spacing-large 0;
    }
  }
}
