/**
 * Default: Mobile
 */
.Resume {
  line-height: 22px;
  margin-top: $header-height;

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-details {
    color: $secondary-xdark;
    display: flex;
  }

  &-inner {
    padding: $spacing-large 8vw;
  }

  &-item {
    margin-bottom: $spacing-medium;
  }

  &-list {
    margin: 0 $spacing-medium $spacing-medium 0;
    padding-left: $spacing-small !important;

    &-item {
      list-style-type: disc !important;
    }
  }

  &-main {
    flex-basis: 100%;
    order: 1;
  }

  &-note {
    color: $secondary-xdark;
    font-size: $font-size-detail;
    margin-bottom: $spacing-small;
  }

  &-side {
    flex-basis: 100%;
    order: 2;
  }

  &-social {
    &-item {
      margin-bottom: $spacing-small;
    }

    &-link {
      font-size: $font-size-detail;
    }

    &-title {
      font-weight: 500;
    }
  }

  &-subtitle {
    font-weight: 500;
    margin-bottom: $spacing-xxsmall;
  }

  &-title {
    @include heading-font;
    border-bottom: 1.2px solid $secondary-xdark;
    font-weight: $font-weight-medium;
    line-height: 34px;
    margin-bottom: $spacing-medium;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Resume {
    &-main {
      flex-basis: 63%;
      order: 2;
    }

    &-side {
      flex-basis: 30%;
      order: 1;
    }
  }
}
