/**
 * Default: Mobile
 */
.Section {
  position: relative;
  text-align: center;
  margin-bottom: $spacing-large;

  &:last-of-type {
    margin-bottom: $spacing-medium;
  }

  &-content {
    margin-bottom: $spacing-medium;
    width: 100%;
  }

  &-figure {
    align-items: center;
    display: flex;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    padding: $spacing-medium 0;
    width: 100%;

    &-description {
      border: solid 4px $secondary-xxxdark;
      // margin-right: 50%;
      min-width: 180px;
      padding: $spacing-small;
      // position: relative;
      text-align: left;
      width: 60%;
      word-break: break-all;
    }

    &-image {
      // margin-left: 30%;
      // max-height: 280px;
      position: absolute;
      top: 0;
      bottom: 0;

      // TODO: Use class
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &-grid {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      padding: $spacing-small;
      width: 100%;
    }
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing-xlarge 5vw;
    position: relative;
  }

  &-skills {
    &-description {
      font-size: $font-size-detail;
      line-height: 21px;
    }

    &-category {
      &:not(:first-child) {
        margin-top: $spacing-medium;
      }
    }

    &-title {
      @include heading-font;
      font-size: $font-size-landing;
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-xxsmall;
    }
  }

  &-socials {
    &-icon {
      color: $secondary-xxxdark;
    }
  }

  &-subtitle {
    font-size: $font-size-landing;
    font-weight: $font-weight-regular;
  }

  &-title {
    @include heading-font;
    font-size: $font-size-heading2;
    font-weight: $font-weight-medium;
    line-height: 36px;
    margin-bottom: $spacing-small;
  }

  &--dark {
    background: $secondary-xxxdark;
    color: $secondary-xxxlight;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Section {
    text-align: left;
    margin-bottom: $spacing-xxlarge;

    &-content {
      width: 40%;

      &--full {
        width: 100%;
      }
    }

    &-description {
      font-size: $font-size-ui;
    }

    &-figure {
      // height: 100%;
      // margin-left: auto;
      bottom: 0;
      position: absolute;
      right: 0;
      width: 52%;

      &-image {
        // max-height: 90%;
        bottom: 0;
        right: auto;
        margin-left: auto;
        top: 0;
      }
    }

    &-title {
      font-size: $font-size-heading1;
      line-height: 48px;
      margin-bottom: $spacing-medium;
    }

    &-subtitle {
      font-size: $font-size-heading3;
      font-weight: $font-weight-regular;
      line-height: 28px;

    }
  }
}

// @media only screen and (max-width: 400px) {
//   .Section {
//     &-content {
//       padding: 0 $spacing-xsmall;
//     }
//   }
// }

@media only screen and (max-width: 1400px) {
  .Section {
    &-grid {
      &-item {
        width: 33.33333%;
      }
    }
  }
}

@media only screen and (min-width: 1401px) {
  .Section {
    &-grid {
      &-item {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .Section {
    &-grid {
      &-item {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Section {
    &-grid {
      &-item {
        width: 100%;
      }
    }
  }
}
