/**
 * Default: Mobile
 */
.Section {
  position: relative;
  margin-bottom: $spacing-large;

  &:last-of-type {
    margin-bottom: 0;
  }

  &-content {
    flex-basis: 45%;
    margin-bottom: $spacing-medium;
    text-align: center;

    &--full {
      flex-basis: 100%;
    }
  }

  &-subcontent {
    display: flex;
    flex-basis: 50%;
    margin: $spacing-large 0 $spacing-medium 0;
    position: relative;

    &-description {
      // border: solid 4px $secondary-xxxdark;
      background: $secondary-xlight;
      flex-basis: 60%;
      min-width: max-content;
      padding: $spacing-small;
      text-align: left;
      word-break: break-all;
    }

    &-figure {
      max-width: 500px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      &-image {
        display: block;
        height: auto;
        width: 100%;
      }
    }
  }

  &-grid {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      padding: $spacing-small;
      width: 100%;
    }
  }

  &-inner {
    padding: $spacing-xlarge 8vw;

    &.wide {
      padding: $spacing-xlarge 6vw;
    }

    &:last-of-type {
      padding-bottom: $spacing-small !important;
    }
  }

  &-socials {
    &-icon {
      color: $secondary-xxxdark;
    }
  }

  &-subtitle {
    font-size: $font-size-landing;
    font-weight: $font-weight-regular;
  }

  &-title {
    @include heading-font;
    font-size: $font-size-heading2;
    font-weight: $font-weight-medium;
    line-height: 36px;
    margin-bottom: $spacing-small;
  }

  &--dark {
    background: $secondary-xxxdark;
    color: $secondary-xxxlight;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Section {
    margin-bottom: $spacing-xxlarge;

    &-content {
      text-align: left;
    }

    &-description {
      font-size: $font-size-ui;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: $font-size-heading1;
      line-height: 48px;
      margin-bottom: $spacing-medium;
    }

    &-subtitle {
      font-size: $font-size-heading3;
      font-weight: $font-weight-regular;
      line-height: 28px;

    }
  }
}

@media only screen and (max-width: 1400px) {
  .Section {
    &-grid {
      &-item {
        width: 33.33333%;
      }
    }
  }
}

@media only screen and (min-width: 1401px) {
  .Section {
    &-grid {
      &-item {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .Section {
    &-grid {
      &-item {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Section {
    &-grid {
      &-item {
        width: 100%;
      }
    }
  }
}
