/**
 * Default: Mobile
 */

.Header {
  background: rgba(252, 252, 252, 0.9);
  height: $header-height;
  position: fixed;
  top: 0;
  transition: background 0.3s ease-out;
  width: 100%;
  z-index: 7;

  &-inner {
    align-items: center;
    display: flex;
    height: 100%;
    min-width: 300px;
  }

  &.is-transparent {
    background: none;
  }
}
