.PortfolioList {
  display: flex;
  list-style: none;
  margin: 0 -8vw 0 -8vw;
  padding: 0 0 0 8vw;
  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* iOS support */

  &-item {
    flex-shrink: 0;
    margin-bottom: $spacing-medium;
    padding-right: $spacing-medium;
    width: 80vw;

    scroll-snap-align: center;
    scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .PortfolioList {
    flex-wrap: wrap;
    margin: 0 -$spacing-small;
    padding: 0;

    &-item {
      flex: 0 0 33%;
      padding: 0 $spacing-small;
      min-width: 280px;
      width: auto;
    }
  }
}
