.PortfolioList {
  display: flex;
  list-style: none;

  margin: 0 -8vw 0 -8vw;
  padding: 0 0 0 8vw;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;

  &-item {
    flex-shrink: 0;
    margin-bottom: $spacing-medium;
    padding-right: $spacing-medium;
    scroll-snap-align: center;
    width: 80vw;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 501px) {
  .PortfolioList {
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -$spacing-small;
    padding: 0;
    overflow-x: hidden;

    &-item {
      flex: 1 1 100%;
      margin: $spacing-small $spacing-small $spacing-medium $spacing-small;
      min-width: 280px;
      padding-right: 0;
      width: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .PortfolioList {
    &-item {
      flex: 1 1 28%;
    }
  }
}
