/**
 * Default: Mobile
 */
.Resume {
  line-height: 1.85em;

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-details {
    color: $secondary-xdark;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: $spacing-small;
    }
  }

  &-inner {
    padding-bottom: $spacing-large;
    padding-top: $spacing-large;
  }

  &-item {
    margin-bottom: $spacing-large;
  }

  &-list {
    padding-left: $spacing-medium;

    &-item {
      list-style-type: disc;
    }

    &:not(:last-child) {
      margin-right: $spacing-xsmall;
    }
  }

  &-main {
    flex-basis: 100%;
  }

  &-side {
    flex-basis: 100%;
  }

  &-social {
    &-item {
      margin-bottom: $spacing-small;
    }

    &-title {
      font-weight: 500;
    }
  }

  &-subtitle {
    font-weight: 500;
    margin-bottom: $spacing-xxsmall;
  }

  &-title {
    @include heading-font;
    color: $secondary-xdark;
    font-size: 1.5em;
    line-height: 34px;
    margin-bottom: $spacing-small;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Resume {
    &-main {
      flex-basis: 63%;
    }

    &-side {
      flex-basis: 30%;
    }
  }
}
