/**
 * Default: Mobile
 */
.Section {
  margin-bottom: $spacing-large;
  position: relative;

  /* Header offset when scrolling to fragments */
  scroll-margin-top: 70px;

  &-action {
    margin: $spacing-medium 0 $spacing-large 0;
  }

  &-article {
    padding-bottom: $spacing-large;
    padding-top: $spacing-large;
  }

  &-column {
    margin-right: 0;
  }

  &-content {
    flex-basis: 45%;

    &--full {
      flex-basis: 100%;
    }
  }

  &-description {
    line-height: 2em;
  }

  &-image {
    margin-bottom: $spacing-xsmall;
    width: 100%;
  }

  &-intro {
    display: flex;
    padding-top: $spacing-xlarge;

    &-divider {
      background: $secondary-xxdark;
      height: 1px;
      margin: 8px 8px 0 0;
      width: 44px;
    }

    &-text {
      font-size: $font-size-detail;
      font-weight: 400;
    }

    &.animate {
      transform: translateX(-10vw);
      transition: transform 0.2s ease-out;
    }

    &.is-visible {
      transform: translateX(0);
    }
  }

  &-subcontent {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    position: relative;

    &-description {
      flex: 1 1 auto;
      padding: $spacing-small;
      position: relative;
      text-align: left;
      word-break: break-word;
      z-index: 2;
    }

    &-figure {
      max-width: 400px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;

      &-image {
        display: block;
        height: auto;
        width: 100%;
      }
    }

    &::after {
      background: $tertiary;
      content: '';
      left: 0;
      min-width: 170px;
      height: 0%;
      position: absolute;
      top: 0;
      transition: height 0.6s ease-out;
      width: 100%;
      z-index: 0;
    }

    &.is-visible::after {
      height: 100%;
    }
  }

  &-subtitle {
    font-size: 1.125em;
  }

  &-title {
    @include heading-font;
    color: $secondary-xdark;
    font-weight: $font-weight-medium;
    padding-bottom: $spacing-medium;
    padding-top: $spacing-large;
  }

  &--dark {
    background: $secondary-xxdark;
    color: $secondary-xxlight;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Section {
    margin-bottom: $spacing-xlarge;

    &-column {
      &:not(:last-child) {
        margin-right: $spacing-medium;
      }
    }

    &-content {
      // margin-top: $spacing-large;
      text-align: left;
    }

    &-description {
      &--narrow {
        max-width: 50vw;
      }
    }

    &-inner {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
    }

    &-subcontent {
      margin: ($spacing-large * 2) 0 $spacing-medium 0;
    }
  }
}
