.Footer {
  background-color: var(--secondary-xlight);
  border-top: 1px solid var(--secondary-light);
}

/* Was: &-copyright */
.Footer-copyright {
  font-size: var(--font-size-detail);
  padding: var(--spacing-xxsmall) 0;
  text-align: center;
  width: 100%;
}

/* Was: &-copyright-link */
.Footer-copyright-link {
  font-weight: 500;
}

/* Was: &-inner */
.Footer-inner {
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}
