/* Mobile / Default */
.PortfolioList {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* iOS support */
}

.PortfolioList-item {
  flex-shrink: 0;
  margin-bottom: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  width: 80vw;

  scroll-snap-align: center;
  scroll-snap-coordinate: 0% 0%;
  /* older (Firefox/IE) */
}

/* Tablet and Desktop */
@media only screen and (min-width: 768px) {
  .PortfolioList {
    flex-wrap: wrap;
    margin-left: calc(var(--spacing-small) * -1);
    margin-right: calc(var(--spacing-small) * -1);
  }

  .PortfolioList-item {
    flex: 0 0 33%;
    padding: 0 var(--spacing-small);
    min-width: 280px;
    width: auto;
  }
}
