.Resume {
  line-height: 1.85em;
}

.Resume__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Resume__details {
  color: var(--color-text-primary);
  display: flex;
  flex-wrap: wrap;
}

.Resume__details:not(:last-child) {
  margin-bottom: var(--spacing-small);
}

.Resume__inner {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

.Resume-item {
  margin-bottom: var(--spacing-large);
}

.Resume-list {
  padding-left: var(--spacing-medium);
}

.Resume-list-item {
  list-style-type: disc;
}

.Resume-list:not(:last-child) {
  margin-right: var(--spacing-xsmall);
}

.Resume-main {
  flex-basis: 100%;
}

.Resume-side {
  flex-basis: 100%;
}

.Resume-social-item {
  margin-bottom: var(--spacing-small);
}

.Resume-social-title {
  font-weight: 500;
}

.Resume-subtitle {
  font-weight: 500;
  margin-bottom: var(--spacing-xxsmall);
}

.Resume-title {
  font-family: 'DM Serif Display', Arial, serif;
  color: var(--color-text-primary);
  font-size: 1.5em;
  line-height: 34px;
  margin-bottom: var(--spacing-small);
}

@media only screen and (min-width: 768px) {
  .Resume-main {
    flex-basis: 63%;
  }

  .Resume-side {
    flex-basis: 30%;
  }
}
