/* Resume Base */
.Resume {
  line-height: 1.85em;
}

/* Content */
.Resume-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Details */
.Resume-details {
  color: var(--secondary-xdark);
  display: flex;
  flex-wrap: wrap;
}

.Resume-details:not(:last-child) {
  margin-bottom: var(--spacing-small);
}

/* Inner padding */
.Resume-inner {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

/* Item spacing */
.Resume-item {
  margin-bottom: var(--spacing-large);
}

/* Lists */
.Resume-list {
  padding-left: var(--spacing-medium);
}

.Resume-list-item {
  list-style-type: disc;
}

.Resume-list:not(:last-child) {
  margin-right: var(--spacing-xsmall);
}

/* Main & Side */
.Resume-main {
  flex-basis: 100%;
}

.Resume-side {
  flex-basis: 100%;
}

/* Social */
.Resume-social-item {
  margin-bottom: var(--spacing-small);
}

.Resume-social-title {
  font-weight: 500;
}

/* Subtitle */
.Resume-subtitle {
  font-weight: 500;
  margin-bottom: var(--spacing-xxsmall);
}

/* Title */
.Resume-title {
  font-family: 'DM Serif Display', Arial, serif;
  color: var(--secondary-xdark);
  font-size: 1.5em;
  line-height: 34px;
  margin-bottom: var(--spacing-small);
}

/* Tablet and Desktop */
@media only screen and (min-width: 768px) {
  .Resume-main {
    flex-basis: 63%;
  }

  .Resume-side {
    flex-basis: 30%;
  }
}
