.Header {
  padding: 40px 20px;

  .Header-inner {
    // display: flex;
    text-align: center;
  }

  .Header-nav {
    margin-left: auto;
  }

  .Header-title {
    @include heading-font;
    font-size: 16px;

    &:hover {
      color: $primary;
    }
  }
}
