.Button {
  border: none;
  cursor: pointer;
  display: block;
  font-size: $font-size-detail;
  padding: $spacing-xsmall;
  text-align: center;
  width: fit-content;

  &-primary {
    background: $secondary-xxdark;
    border-radius: 2px;
    color: $secondary-xxlight;

    &--hollow {
      background: none;
      border: 1px solid $primary;
      box-shadow: none;
      color: $primary;
    }

    &:hover {
      background: $secondary-xdark;
      transition: 0.1s background ease-out;
    }
  }
}
