@use "../variables.scss";

.Button {
  border: none;
  cursor: pointer;
  display: block;
  font-size: variables.$font-size-detail;
  padding: variables.$spacing-xsmall;
  text-align: center;
  width: fit-content;

  &-primary {
    background: variables.$secondary-xxdark;
    border-radius: 2px;
    color: variables.$secondary-xxlight;

    &--hollow {
      background: none;
      border: 1px solid variables.$primary;
      box-shadow: none;
      color: variables.$primary;
    }

    &:hover {
      background: variables.$secondary-xdark;
      transition: 0.1s background ease-out;
    }
  }
}
