.Card {
  margin: 0;
  position: relative;

  &-figure {
    margin: 0 0 $spacing-small 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 72%;
    }

    &-image {
      border-radius: 5px;
      box-shadow: 0 1px 8px rgba(50, 50, 93, .1);
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.is-placeholder {
      background: $secondary-light;
    }
  }

  &-footer {
    color: $secondary-xxdark;
    text-align: left;

    &-description {
      font-size: $font-size-detail;
      margin-bottom: $spacing-xxxsmall;
    }

    &-service {
      color: $secondary-xdark;
      font-size: $font-size-footnote;
      font-weight: $font-weight-light;

      &::selection {
        color: $secondary-xxdark;
      }
    }

    &-title {
      font-weight: 500;
      margin-bottom: $spacing-xxsmall;
    }
  }
}

@media only screen and (max-width: 340px) {
  .Card {
    &-placeholder {
      &-image {
        font-size: 4rem !important;
      }
    }
  }
}
