@use "sass:color";
@use "../variables.scss";

.Form {
  width: 100%;

  &-action {
    background: none;
    border: 1px solid variables.$secondary-xxdark;
    color: variables.$secondary-xxdark;
    display: block;
    // font-size: variables.$font-size-ui;
    padding: variables.$spacing-xsmall variables.$spacing-xlarge;
    text-align: center;
  }

  &-group {
    margin-bottom: variables.$spacing-medium;
  }

  &-input,
  &-textarea {
    border-bottom: 1px solid variables.$secondary-dark !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    // font-size: variables.$font-size-ui !important;
    height: 2.5rem !important;
    outline: none;
    resize: vertical;

    &:focus,
    &:active {
      border-bottom: 1px solid variables.$primary !important;
      box-shadow: none !important;
    }
  }

  &-label {
    color: color.adjust(variables.$secondary-xxdark, variables.$lightness: 30%);
    display: block;
    font-size: variables.$font-size-detail;
    margin-bottom: variables.$spacing-xxxsmall;
    text-transform: uppercase;
  }

  &-row {
    margin-bottom: variables.$spacing-medium;
  }

  &-textarea {
    height: 120px !important;
    resize: none;
    overflow: hidden;
  }
}
