/**
 * Default: Mobile
 */
.Hero {
  $this: &;

  min-height: 100vh;
  margin-bottom: $spacing-medium;

  &-content {
    box-sizing: border-box;
    padding-left: 8vw;
    padding-right: 16px;
    padding-top: 32px;
    z-index: 1;
  }

  &-description {
    word-break: break-word;
    width: 80%;
  }

  &-divider {
    height: 1.6px;
    margin-bottom: $spacing-medium;
    width: 32px;

    &--dark {
      background: $secondary-xxdark;
    }

    &--white {
      background: $secondary-xxlight;
    }
  }

  &-figure {
    display: flex;
    box-sizing: border-box;
    flex: 0 0 100%;
    justify-content: flex-end;
    max-width: 100%;

    &-image {
      height: auto;
      max-width: 100%;
    }
  }

  &-inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
  }

  &-note {
    color: $secondary-xdark;
    font-size: $font-size-detail;
    margin-bottom: $spacing-small;
  }

  &-title {
    @include heading-font;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-medium;
    white-space: nowrap;
  }

  &--compact {
    min-height: auto;

    #{$this}-figure {
      &-image {
        max-height: 460px;
      }
    }
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Hero {
    margin-bottom: $spacing-large;

    &-content {
      flex: 0 0 33%;
      max-width: 33%;
    }

    &-divider {
      width: 46px;
    }

    &-figure {
      flex: 0 0 67%;
      max-width: 67%;
    }

    &-inner {
      align-items: center;
    }

    &-title {
      margin-bottom: $spacing-xlarge;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
