/**
 * Default: Mobile
 */
.Hero {
  $this: &;
  margin: 0 auto $spacing-medium;
  max-width: 1440px;

  &-action {
    padding-left: 16vw;
    white-space: nowrap;
  }

  &-description {
    word-break: break-word;
    width: 80%;
  }

  &-divider {
    background: $secondary-xdark;
    height: 1px;
    margin-left: $spacing-small;
    width: 80px;
  }

  &-figure {
    align-items: flex-start;
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-end;
    max-width: 100%;

    &-image {
      height: auto;
      max-width: 100%;
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    height: 600px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    &::after,
    &::before {
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &::after {
      background-color: $tertiary;
      z-index: -2;
    }

    &::before {
      background-image: url('/src/images/patterns.svg');
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 70%;
      z-index: -1;
    }

    &--resume {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      min-height: auto;
      padding-top: $spacing-xlarge;

      &::after,
      &::before {
        display: none;
      }
    }
  }

  &-link {
    align-items: center;
    color: $secondary-xdark;
    display: flex;
    text-decoration: none;
  }

  &-note {
    color: $secondary-xdark;
    font-size: $font-size-detail;
    margin-bottom: $spacing-small;
  }

  &-subtitle {
    @include heading-font;
    color: $secondary-xdark;
    padding-left: 8vw;
    white-space: nowrap;
  }

  &-title {
    @include heading-font;
    color: $secondary-xdark;
    font-size: 3em;
    font-weight: normal;
    line-height: 0.9em;
    margin-bottom: $spacing-large;
    padding-left: 16vw;
    padding-top: 36vw;
    white-space: nowrap;

    .IsIndented {
      padding-left: $spacing-medium;
    }
  }

  &--compact {
    min-height: auto;

    #{$this}-figure {
      &-image {
        max-height: 460px;
      }
    }
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Hero {
    margin-bottom: $spacing-large;

    &-action {
      bottom: 10vh;
      position: absolute;
    }

    &-content {
      flex: 0 0 33%;
      max-width: 33%;
      padding-top: 0;
    }

    &-divider {
      width: 240px;
    }

    &-figure {
      flex: 0 0 67%;
      max-width: 67%;
    }

    &-inner {
      justify-content: center;

      &::after {
        right: 13%;
        width: 67%;
      }

      &::before {
        background-position: top right;
        background-size: contain;
        right: 7%;
      }
    }

    &-title {
      font-size: 6em;
      margin-bottom: $spacing-xxlarge;
      padding-top: 0;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
