/**
 * Default: Mobile
 */
.Hero {
  min-height: 100vh;
  margin-bottom: $spacing-medium;

  &-content {
    box-sizing: border-box;
    padding-left: 8vw;
    padding-right: 16px;
    padding-top: 32px;
    z-index: 1;
  }

  &-description {
    word-break: break-word;
    width: 80%;
  }

  &-divider {
    height: 1.6px;
    margin-bottom: $spacing-medium;
    width: 32px;

    &--dark {
      background: $secondary-xxdark;
    }

    &--white {
      background: $secondary-xxlight;
    }
  }

  &-figure {
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;

    &-image {
      height: auto;
      width: 100%;
    }
  }

  &-inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
  }

  &-title {
    @include heading-font;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-medium;
    white-space: nowrap;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Hero {
    margin-bottom: $spacing-large;

    &-content {
      flex: 0 0 30%;
      max-width: 30%;
    }

    &-divider {
      width: 46px;
    }

    &-figure {
      flex: 0 0 70%;
      max-width: 70%;
    }

    &-inner {
      align-items: center;
    }

    &-title {
      margin-bottom: $spacing-xlarge;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
