.List {
  &-category {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-medium;
    }
  }

  &-item {
    display: block;
    font-size: $font-size-detail;
    padding-bottom: $spacing-xxsmall;
    padding-top: $spacing-xxsmall;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-title {
    @include heading-font;
    color: $secondary-xdark;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-xxsmall;
    margin-top: 0;
  }
}

.ListCard {
  padding: $spacing-medium;
}

.ListCardContainer {
  padding-bottom: $spacing-medium;
  max-width: 500px;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .ListCardContainer {
    background-color: $secondary-xxlight;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(50, 50, 93, .1);
  }
}

/**
 * Desktop Small
 */
@media only screen and (min-width: 1080px) {
  .ListCardContainer {
    background-color: unset;
    box-shadow: none;
  }

  .ListCard {
    background-color: $secondary-xxlight;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(50, 50, 93, .1);

    &--primary {
      padding-right: $spacing-xxlarge;
    }

    &--secondary {
      position: absolute;
      top: 142px;
      right: 0;
    }
  }
}
