@use "../variables.scss";
@use "../mixins.scss";

.List {
  &-category {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: variables.$spacing-medium;
    }
  }

  &-item {
    display: block;
    font-size: variables.$font-size-detail;
    padding-bottom: variables.$spacing-xxsmall;
    padding-top: variables.$spacing-xxsmall;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-title {
    @include mixins.heading-font;
    color: variables.$secondary-xdark;
    font-weight: variables.$font-weight-medium;
    margin-bottom: variables.$spacing-xxsmall;
    margin-top: 0;
  }
}

.ListCard {
  padding: variables.$spacing-medium;
}

.ListCardContainer {
  padding-bottom: variables.$spacing-medium;
  max-width: 500px;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .ListCardContainer {
    background-color: variables.$secondary-xxlight;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(50, 50, 93, .1);
  }
}

/**
 * Desktop Small
 */
@media only screen and (min-width: 1080px) {
  .ListCardContainer {
    background-color: unset;
    box-shadow: none;
  }

  .ListCard {
    background-color: variables.$secondary-xxlight;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(50, 50, 93, .1);

    &--primary {
      padding-right: variables.$spacing-xxlarge;
    }

    &--secondary {
      position: absolute;
      top: 142px;
      right: 0;
    }
  }
}
