.Nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-item {
    color: $secondary-xxdark;

    &:not(:first-child) {
      padding-left: $spacing-medium;
    }
  }

  &-logo {
    color: $secondary-xxdark;
    font-weight: $font-weight-medium;
    padding: $spacing-small 0;
    text-decoration: none;
    @include heading-font;
  }

  & &-link {
    @include body-font;
    color: $secondary-xxdark;
    display: inline-block;
    float: none;
    height: auto;
    line-height: initial;
    padding: 2px 0;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;

    &::after {
      background: $secondary-xxdark;
      bottom: 0;
      content: '';
      height: 1.6px;
      left: 0;
      position: absolute;
      transform: scale3d(0, 1, 1);
      transition: all 0.3s ease-out;
      transform-origin: left;
      width: 100%;
    }

    &:focus::after,
    &:hover::after {
      transform: scale3d(1, 1, 1);
    }

    &.is-active {
      font-weight: 500;
    }
  }

  &-menu {
    cursor: pointer;
    display: block;
    margin-right: -$spacing-small;
    padding: $spacing-small;

    &-icon {
      background-color: $secondary-xxdark;
      height: 2px;
      width: 24px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &-list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
  }

  &--right {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 400px) {
  .hide-on-small {
    display: none;
  }
}

@media only screen and (min-width: 401px) {
  .hide-on-medium {
    display: none;
  }
}
