@use "../variables";
@use "../mixins";

.Nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-item {
    color: variables.$secondary-xdark;

    &:not(:first-child) {
      padding-left: variables.$spacing-medium;
    }

    &.is-active {
      font-weight: 500;
    }
  }

  &-logo {
    justify-self: start;
    color: variables.$secondary-xdark;
    padding: variables.$spacing-small 0;
    text-decoration: none;
    @include mixins.heading-font;
  }

  &-menu {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    margin-right: -(variables.$spacing-small);
    padding: variables.$spacing-small;

    &-icon {
      background-color: variables.$secondary-xdark;
      display: block;
      height: 2px;
      width: 24px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &-list {
    align-items: center;
    display: flex;
  }

  &--left {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-on-medium {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .Nav {
    &-item {
      color: variables.$secondary-xdark;

      &:not(:first-child) {
        padding-left: variables.$spacing-xlarge;
      }
    }
  }
}
