.Nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &-item {
    color: $secondary-xdark;

    &:not(:first-child) {
      padding-left: $spacing-medium;
    }

    &.is-active {
      font-weight: 500;
    }
  }

  &-logo {
    color: $secondary-xdark;
    padding: $spacing-small 0;
    text-decoration: none;
    @include heading-font;
  }

  &-menu {
    cursor: pointer;
    display: block;
    margin-right: -$spacing-small;
    padding: $spacing-small;

    &-icon {
      background-color: $secondary-xdark;
      height: 2px;
      width: 24px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &-list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
  }

  &--right {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-on-medium {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .Nav {
    &-item {
      color: $secondary-xdark;

      &:not(:first-child) {
        padding-left: $spacing-xlarge;
      }
    }
  }
}
