@use "../variables.scss";
@use "../mixins.scss";

.SideMenu {
  background-color: variables.$secondary-xlight;
  height: 100%;
  margin-left: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .3s ease-out;
  width: 0;
  visibility: hidden;
  z-index: 9;

  &-footer {
    bottom: 0;
    padding: variables.$spacing-medium variables.$spacing-small;
    position: absolute;
    width: 100%;
  }

  &-item {
    border-bottom: 1px solid variables.$secondary-light;
    cursor: pointer;
    height: 44px;
    margin-left: variables.$spacing-medium;
  }

  &-link {
    align-items: center;
    color: variables.$secondary-xdark;
    display: flex;
    height: 100%;
    text-decoration: none;
    @include mixins.body-font;

    &.is-active {
      font-weight: 500;
    }
  }

  &-list {
    height: 100%;
    padding-top: variables.$spacing-medium;
  }

  &.is-active {
    visibility: visible;
    width: 80vw;
  }
}
