.SideMenu {
  background-color: $secondary-xlight;
  height: 100%;
  margin-left: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .3s ease-out;
  width: 0;
  visibility: hidden;
  z-index: 9;

  &-footer {
    bottom: 0;
    padding: $spacing-medium $spacing-small;
    position: absolute;
    width: 100%;
  }

  &-item {
    border-bottom: 1px solid $secondary-light;
    height: 44px;;
    margin-left: $spacing-medium;
  }

  &-link {
    align-items: center;
    color: $secondary-xdark;
    display: flex;
    height: 100%;
    text-decoration: none;
    @include body-font;

    &.is-active {
      font-weight: 500;
    }
  }

  &-list {
    height: 100%;
    padding-top: $spacing-medium;
  }

  &.is-active {
    visibility: visible;
    width: 80vw;
  }
}
