@use "../variables.scss";

.Social {
  &-list {
    align-items: center;
    display: flex;

    &--left {
      justify-content: flex-start;
      margin-left: -(variables.$spacing-small);
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &-link {
    padding: variables.$spacing-small;

    &:first-child {
      padding-left: 0;
    }

    &-copy {
      display: flex;
      align-items: center;
      column-gap: variables.$spacing-xxxsmall;
    }

    &-icon {
      transition: fill 0.2s ease-out;
    }

    &:hover &-icon {
      fill: variables.$primary;
    }

    &--small {
      padding: variables.$spacing-xsmall + 2;
    }
  }
}
