.Social {
  &-list {
    align-items: center;
    display: flex;

    &--left {
      justify-content: flex-start;
      margin-left: -$spacing-small;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &-link {
    padding: $spacing-small;

    &:first-child {
      padding-left: 0;
    }

    &-icon {
      transition: fill 0.2s ease-out;
    }

    &:hover &-icon {
      fill: $primary;
    }

    &--small {
      padding: $spacing-xsmall + 2;
    }
  }
}
