@use "../variables.scss";

/**
 * Default: Mobile
 */
.Timeline {
  position: relative;

  &-date {
    font-size: variables.$font-size-detail;
  }

  &-description {
    margin-top: 0;
    margin-bottom: variables.$spacing-small;
  }

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: variables.$spacing-xsmall;
    flex-wrap: wrap;
  }

  &-item {
    margin: 0 0 variables.$spacing-large variables.$spacing-medium;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      background-color: variables.$secondary-xlight;
      border: 1px solid variables.$secondary-xdark;
      border-radius: 50%;
      content: '';
      height: 8px;
      left: 4.3px;
      margin-top: 9px;
      position: absolute;
      width: 8px;
      z-index: 1;
    }
  }

  &-subtitle {
    color: variables.$secondary-xdark;
    font-size: variables.$font-size-detail;
    font-weight: 500;
    margin-bottom: variables.$spacing-xxxsmall;
  }

  &-title {
    color: variables.$secondary-xdark;
    font-weight: 500;
  }

  &::after {
    content: '';
    background-color: variables.$secondary-xdark;
    bottom: 16px;
    margin-left: 8px;
    position: absolute;
    top: 10px;
    width: 1px;
  }
}
