.Card {
  margin: 0;
  position: relative;
}

.Card-figure {
  margin: 0 0 var(--spacing-small) 0;
  position: relative;
}

.Card-figure::before {
  content: "";
  display: block;
  padding-top: 72%;
}

.Card-figure-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(50, 50, 93, 0.1);
}

.Card-figure.is-placeholder {
  background: var(--secondary-light);
}

.Card-footer {
  color: var(--secondary-xxdark);
  text-align: left;
}

.Card-footer-description {
  font-size: var(--font-size-detail);
  margin-bottom: var(--spacing-xxxsmall);
}

.Card-footer-service {
  color: var(--secondary-xdark);
  font-size: var(--font-size-footnote);
  font-weight: var(--font-weight-light);
}

.Card-footer-title {
  font-weight: 500;
  margin-bottom: var(--spacing-xxsmall);
}

@media only screen and (max-width: 340px) {
  .Card-placeholder-image {
    font-size: 4rem !important;
  }
}
