.Form {
  width: 100%;
}

.Form-action {
  background: none;
  border: 1px solid var(--secondary-xxdark);
  color: var(--secondary-xxdark);
  display: block;
  padding: var(--spacing-xsmall) var(--spacing-xlarge);
  text-align: center;
}

.Form-group {
  margin-bottom: var(--spacing-medium);
}

.Form-input,
.Form-textarea {
  border-bottom: 1px solid var(--secondary-dark) !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  height: 2.5rem !important;
  outline: none;
  resize: vertical;
}

.Form-input:focus,
.Form-input:active,
.Form-textarea:focus,
.Form-textarea:active {
  border-bottom: 1px solid var(--primary) !important;
  box-shadow: none !important;
}

.Form-label {
  color: var(--secondary-xxdark-light30);
  display: block;
  font-size: var(--font-size-detail);
  margin-bottom: var(--spacing-xxxsmall);
  text-transform: uppercase;
}

.Form-row {
  margin-bottom: var(--spacing-medium);
}

.Form-textarea {
  height: 120px !important;
  resize: none;
  overflow: hidden;
}
