.List-category {
  margin: 0;
  padding: 0;
}

.List-category:not(:last-child) {
  margin-bottom: var(--spacing-medium);
}

.List-item {
  display: block;
  font-size: var(--font-size-detail);
  padding-top: var(--spacing-xxsmall);
  padding-bottom: var(--spacing-xxsmall);
}

.List-item:last-child {
  padding-bottom: 0;
}

.List-title {
  font-family: 'DM Serif Display', Arial, serif;
  color: var(--secondary-xdark);
  font-weight: var(--font-weight-medium);
  margin-top: 0;
  margin-bottom: var(--spacing-xxsmall);
}

.ListCard {
  padding: var(--spacing-medium);
}

.ListCardContainer {
  padding-bottom: var(--spacing-medium);
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
  .ListCardContainer {
    background-color: var(--secondary-xxlight);
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(50, 50, 93, 0.1);
  }
}

@media only screen and (min-width: 1080px) {
  .ListCardContainer {
    background-color: unset;
    box-shadow: none;
  }

  .ListCard {
    background-color: var(--secondary-xxlight);
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(50, 50, 93, 0.1);
  }

  .ListCard--primary {
    padding-right: var(--spacing-xxlarge);
  }

  .ListCard--secondary {
    position: absolute;
    top: 142px;
    right: 0;
  }
}
