.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Nav-item {
  color: var(--secondary-xdark);
}

.Nav-item:not(:first-child) {
  padding-left: var(--spacing-medium);
}

.Nav-item.is-active {
  font-weight: 500;
}

.Nav-logo {
  justify-self: start;
  color: var(--secondary-xdark);
  padding: var(--spacing-small) 0;
  text-decoration: none;
  font-family: 'DM Serif Display', Arial, serif;
}

.Nav-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  margin-right: calc(-1 * var(--spacing-small));
  padding: var(--spacing-small);
}

.Nav-menu-icon {
  display: block;
  background-color: var(--secondary-xdark);
  width: 24px;
  height: 2px;
}

.Nav-menu-icon:not(:last-child) {
  margin-bottom: 6px;
}

.Nav-list {
  display: flex;
  align-items: center;
}

.Nav--left {
  justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-on-medium {
    display: none;
  }

  .Nav-item:not(:first-child) {
    padding-left: var(--spacing-xlarge);
  }
}
