.Social-list {
  display: flex;
  align-items: center;
}

.Social-list--left {
  justify-content: flex-start;
  margin-left: calc(-1 * var(--spacing-small));
}

.Social-list--right {
  justify-content: flex-end;
}

.Social-link {
  padding: var(--spacing-small);
}

.Social-link:first-child {
  padding-left: 0;
}

.Social-link-copy {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xxxsmall);
}

.Social-link-icon {
  transition: fill 0.2s ease-out;
}

.Social-link:hover .Social-link-icon {
  fill: var(--primary);
}

.Social-link--small {
  padding: calc(var(--spacing-xsmall) + 2px);
}
