.vscode/
node_modules
.DS_Store
**/.DS_Store
dist/

# Local Netlify folder
.netlify

# Lighthouse reports
.lighthouseci/
lighthouse-reports/

# Cypress artifacts
cypress/screenshots/
cypress/videos/

# Husky
.husky/_
