.vscode/
node_modules
.DS_Store
**/.DS_Store
dist/

# Local Netlify folder
.netlify

# Lighthouse reports
lighthouse-reports/
lighthouse/

# Cypress artifacts
cypress/screenshots/
cypress/videos/

# Playwright artifacts
playwright-report/
test-results/

# Husky
.husky/_
