.alert {
  --comp-alert-radius: var(--sem-radius-md);
  --comp-alert-padding: var(--pr-spacing-4);

  border-radius: var(--comp-alert-radius);
  border: var(--pr-border-width-1) solid var(--sem-color-border-base);
  padding: var(--comp-alert-padding);
  background: var(--sem-color-bg-subtle);
  color: var(--sem-color-text-base);
}

.alertTitle {
  display: flex;
  gap: var(--pr-spacing-2);
  align-items: center;
  margin-bottom: var(--pr-spacing-2);
  font-weight: var(--pr-weight-600);
}

.alertIcon {
  flex-shrink: 0;
}

.alertBody {
  margin: 0;
  line-height: var(--pr-leading-180);
}

.alertInfo {
  border-color: var(--sem-color-info-border);
  background: var(--sem-color-info-surface);

  .alertIcon {
    color: var(--sem-color-text-info-base);
  }
}

.alertSuccess {
  border-color: var(--sem-color-success-border);
  background: var(--sem-color-success-surface);

  .alertIcon {
    color: var(--sem-color-text-success-base);
  }
}

.alertWarning {
  border-color: var(--sem-color-warning-border);
  background: var(--sem-color-warning-surface);

  .alertIcon {
    color: var(--sem-color-text-warning-base);
  }
}

.alertError {
  border-color: var(--sem-color-error-border);
  background: var(--sem-color-error-surface);

  .alertIcon {
    color: var(--sem-color-text-error-base);
  }
}
