.alert {
  --comp-alert-radius: var(--pr-radius-base);
  --comp-alert-padding: var(--pr-spacing-4);

  border-radius: var(--comp-alert-radius);
  border: var(--pr-border-width-1) solid var(--sem-color-border-base);
  padding: var(--comp-alert-padding);
  background: var(--sem-color-bg-subtle);
  color: var(--sem-color-text-primary);
}

.alertTitle {
  display: flex;
  gap: var(--pr-spacing-2);
  align-items: center;
  margin-bottom: var(--pr-spacing-2);
  font-weight: var(--pr-weight-600);
}

.alertIcon {
  flex-shrink: 0;
}

.alertBody {
  margin: 0;
  line-height: var(--pr-leading-180);
}

.alertInfo {
  border-color: var(--sem-color-border-info);
  background: var(--sem-color-bg-info-subtle);

  .alertIcon {
    color: var(--sem-color-text-info-emphasis);
  }
}

.alertSuccess {
  border-color: var(--sem-color-border-success);
  background: var(--sem-color-bg-success-subtle);

  .alertIcon {
    color: var(--sem-color-text-success-emphasis);
  }
}

.alertWarning {
  border-color: var(--sem-color-border-warning);
  background: var(--sem-color-bg-warning-subtle);

  .alertIcon {
    color: var(--sem-color-text-primary);
  }
}

.alertError {
  border-color: var(--sem-color-border-error);
  background: var(--sem-color-bg-error-subtle);

  .alertIcon {
    color: var(--sem-color-text-error-emphasis);
  }
}
