.Header {
  height: 66px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  &-inner {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 $spacing-medium;
    width: 100%;
  }
}
