body {
  background-color: $charcoal-xxlight;
  color: $dark;
  font-size: $font-size-ui;
  font-weight: $font-weight-regular;
  @include body-font;
}

header {
  background-color: none;
}

::selection {
  background: $primary;
}

// Override Material CSS
nav {
  background: inherit;
  box-shadow: none;

  .sidenav-trigger {
    margin: 0;
  }
}

nav ul a:hover {
  background-color: rgba(0,0,0,0);
}
