// Variables

// Colors
$white: rgb(255, 255, 255);
$charcoal-xxlight: #f2f2f2;

$dark: #010101;
// $primary: #f9821f !default;
// $primary: #f8ca24;
$primary: #03a87c;

// Constants
$header-height: 46px;

// Font sizes
$font-size-detail: 13px;
$font-size-ui: 14px;
$font-size-landing: 16px;
$font-size-heading3: 21px;
$font-size-heading2: 32px;
$font-size-heading1: 48px;
$font-size-heading: 66px;

// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;

// Spacing
$spacing-xxsmall: 8px;
$spacing-xsmall: 12px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 44px;
$spacing-xlarge: 64px;
$spacing-xxlarge: 84px;
