.pageLoader {
  min-height: 100vh;
  padding-top: var(--pr-spacing-16);
}

.pageLoaderContent {
  padding-top: var(--pr-spacing-21);
  max-width: var(--sem-layout-page-max);
  display: flex;
  flex-direction: column;
  gap: var(--pr-spacing-4);
}
