html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
  background-color: $secondary-xlight;
  color: $secondary-xdark;
  font-size: $font-size-main;
  font-weight: $font-weight-regular;
  overflow-y: scroll;
  @include body-font;

  &.is-disabled {
    overflow-y: hidden;
  }
}

#overlay {
  background-color: transparent;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all .3s ease-out;
  right: 0;
  z-index: 8;

  &.is-active {
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: all;
    opacity: 1;
  }
}

header {
  background-color: none;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
