body {
  background-color: $secondary-xlight;
  color: $secondary-xxdark;
  font-size: $font-size-main;
  font-weight: $font-weight-regular;
  @include body-font;
}

header {
  background-color: none;
}

::selection {
  background: $primary;
}

// Override Material CSS
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

nav {
  background: inherit;
  box-shadow: none;

  .sidenav-trigger {
    margin: 0;
  }
}

nav ul a {
  font-size: 1em;

  &:hover {
    background-color: transparent;
  }
}

.sidenav li > a:hover {
  background-color: transparent;
}
