/* ---------------------------------
   Header styles
---------------------------------- */
.header {
  background-color: var(--color-header-overlay);
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  transition: background-color 0.2s ease-out,
    transform 0.3s ease;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: min(300px, 100%);
}

.header--hidden {
  transform: translateY(-100%);
}

.header--transparent {
  background-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
  .header {
    transition: none !important;
  }
}

/* ---------------------------------
   Section styles
---------------------------------- */
.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  scroll-margin-top: 70px;
  padding-top: var(--spacing-xlarge);
  padding-bottom: var(--spacing-xlarge);
}

.section__inner {
  width: 100%;
}

.section__description {
  line-height: 2em;
  min-width: min(300px, 100%);
  max-width: 560px;
}

.section__intro {
  display: flex;
}

.section__intro-divider {
  background-color: var(--color-divider);
  height: 1px;
  margin: 8px 8px 0 0;
  width: 44px;
}

.section__intro-text {
  font-size: var(--text-detail);
  font-weight: 400;
}

.section__title {
  font-family: var(--font-family-display);
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-medium);
}

/* ---------------------------------
   Footer styles
---------------------------------- */
.footer {
  background-color: var(--color-bg);
  border-top: 1px solid var(--color-border);
}

.footer__copyright {
  font-size: var(--text-detail);
  padding: var(--spacing-xxsmall) 0;
  text-align: center;
  width: 100%;
}

.footer__inner {
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}
