@import "variables.scss";

.container-narrow {
  max-width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 80%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 70%;
  }
}

.container-space {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 768px) {
    padding-left: 8vw;
    padding-right: 8vw;

    &--narrow {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
}

.bg-accent-yellow {
  background-color: $accent-yellow;
}

.bg-accent-cyan-light {
  background-color: $accent-cyan-light;
}

.bg-accent-neutral {
  background-color: $accent-neutral;
}
