// Variables

// Colors
$primary-xxlight: #cdf1e7;
$primary: #03b787;

$secondary-xxlight: #ffffff;
$secondary-xlight: #fcfcfc;
$secondary-light: #ebebed;
$secondary: #d0d0d6;
$secondary-dark: #7F7D80;
$secondary-xdark: #37373a;
$secondary-xxdark: #1d1d1e;

$tertiary: #ececf4;

$accent-yellow: #ffc541;
$accent-neutral: #ececf3;
$accent-cyan-light: #d3f2f5;


// Constants
$header-height: 60px;

// Font size
$font-size-main: 16px;
$font-size-footnote: 0.75em;
$font-size-detail: 0.875em;

// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;

// Spacing
$spacing-xxxsmall: 4px;
$spacing-xxsmall: 8px;
$spacing-xsmall: 12px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 44px;
$spacing-xlarge: 64px;
$spacing-xxlarge: 84px;
