.button {
    border: none;
    cursor: pointer;
    display: block;
    font-size: var(--text-detail);
    padding: var(--spacing-xsmall);
    text-align: center;
    width: fit-content;
}

.buttonPrimary {
    background-color: var(--color-secondary-xxdark);
    border-radius: 2px;
    color: var(--color-secondary-xxlight);
}

.buttonPrimary:hover {
    background-color: var(--color-text);
    transition: background-color 0.1s ease-out;
}