/* Default - light theme variables */
:root {
  /* Scale colors */
  --color-primary-xxlight: #cdf1e7;
  --color-primary-light: #88d4b7;
  --color-primary-dark: #017e5b;
  --color-primary: #03b787;
  --color-secondary-xxlight: #fff;
  --color-secondary-xlight: #fcfcfc;
  --color-secondary-light: #ebebed;
  --color-secondary: #d0d0d6;
  --color-secondary-dark: #7f7d80;
  --color-secondary-xdark: #37373a;
  --color-secondary-xxdark: #1d1d1e;
  --color-tertiary: #ececf4;
  --color-accent-orange: #ff5e32;
  --color-accent-yellow: #ffc541;
  --color-accent-neutral: #ececf3;
  --color-accent-cyan-light: #d3f2f5;

  /* Semantic colors */
  --color-bg: var(--color-secondary-xlight);
  --color-bg-dark: var(--color-secondary-light);
  --color-border: var(--color-secondary-light);
  --color-border-dark: var(--color-secondary-dark);
  --color-divider: var(--color-secondary-xxdark);
  --color-text: var(--color-secondary-xdark);
  --color-text-dark: var(--color-secondary-xxdark);
  --color-text-primary: var(--color-primary);
  --color-text-primary-dark: var(--color-primary-dark);
  --color-text-primary-light: var(--color-primary-light);
  --color-text-secondary: var(--color-secondary-dark);
  --color-header-overlay: rgb(252 252 252 / 90%);
  --color-body-overlay: rgb(0 0 0 / 80%);
  --card-bg-color: var(--color-secondary-xxlight);
  --card-text-color: var(--color-secondary-xdark);
  --card-shadow: 0 1px 8px rgb(50 50 93 / 10%);
  --tag-text-color: var(--color-text);

  /* Font size */
  --text-body: clamp(1rem, 0.5vw + 0.95rem, 1.05rem);
  --text-detail: 0.875em;
  --text-footnote: 0.75em;
  --text-h1: clamp(2.25em, 4vw + 1em, 3em);
  --text-h2: clamp(1.625em, 3vw + 1em, 2.25em);
  --text-h3: clamp(1.375em, 2vw + 1em, 1.75em);
  --text-h4: clamp(1.25em, 1.5vw + 1em, 1.375em);
  --leading-body: 1.25;
  --leading-body-wide: 1.375;
  --leading-tight: 1.05;
  --leading-snug: 1.15;
  --leading-normal: 1.25;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Font families - Semantic */
  --font-family-display: 'DM Serif Display', arial, serif;
  --font-family-body: heebo, arial, sans-serif;
  --font-family-mono: 'SF Mono', monaco, monospace;

  /* Spacing */
  --spacing-xxxsmall: 4px;
  --spacing-xxsmall: 8px;
  --spacing-xsmall: 12px;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-large: 44px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 84px;

  /* Miscellaneous */
  --header-height: 52px;
  --pattern-opacity: 1;

  /* Z-index */
  --z-index-header: 7;
  --z-index-overlay: 10;
  --z-index-side-nav: 11;
}

[data-theme="dark"] {
  /* Scale colors */
  --color-primary-xxlight: #1e1e20;
  --color-tertiary: #1e1e20;
  --color-accent-neutral: #1e1e20;
  --color-accent-cyan-light: #1e1e20;

  /* Semantic colors */
  --color-bg: #121214;
  --color-bg-dark: var(--color-secondary-xxdark);
  --color-divider: #e8e8ea;
  --color-border: var(--color-secondary-dark);
  --color-border-dark: var(--color-secondary-dark);
  --color-header-overlay: rgb(20 20 20 / 94%);
  --color-text: #e8e8ea;
  --color-text-dark: #e8e8ea;
  --color-text-primary: var(--color-primary);
  --color-text-primary-light: var(--color-primary-light);
  --color-text-primary-dark: var(--color-primary);
  --color-text-secondary: #bfbfc1;

  /* less prominent text */
  --card-bg-color: var(--color-primary-light);
  --card-text-color: var(--color-secondary-xxdark);
  --card-shadow: 0 1px 8px rgb(0 0 0 / 60%);
  --tag-text-color: var(--color-text-dark);

  /* Miscellaneous */
  --pattern-opacity: 0.85;
}
