.container {
  margin-inline: auto;
  max-width: var(--sem-layout-container-max);
  padding-inline: var(--pr-spacing-4);
  width: 100%;
}

.containerWide {
  max-width: var(--sem-layout-page-max);
}

@media (width >= 768px) {
  .container {
    /* Magic for now */
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
