.container {
  margin: 0 auto;
  max-width: var(--sem-layout-container-max);
  padding-left: var(--pr-spacing-4);
  padding-right: var(--pr-spacing-4);
  width: 100%;
}

@media screen and (width >=768px) {
  .container {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
