.footer {
  background-color: var(--sem-color-bg-base);
  border-top: var(--pr-border-width-1) solid var(--sem-color-border-base);
  padding: var(--pr-spacing-3);
  text-align: center;
}

.footerCopyright {
  font-size: var(--sem-text-caption);
  padding: var(--pr-spacing-2) 0;
  text-align: center;
}
