.footer {
  background-color: var(--color-bg-base);
  border-top: var(--border-width-1) solid var(--color-border-base);
  padding: var(--spacing-3);
  text-align: center;
}

.footerCopyright {
  font-size: var(--text-scale-200);
  padding: var(--spacing-2) 0;
  text-align: center;
  width: 100%;
}
