.footer {
  background-color: var(--color-bg);
  border-top: var(--size-line-thin) solid var(--color-border);
  padding: var(--spacing-xsmall);
  text-align: center;
}

.footerCopyright {
  font-size: var(--text-detail);
  padding: var(--spacing-xxsmall) 0;
  text-align: center;
  width: 100%;
}
