.header {
    background-color: var(--color-header-overlay);
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
    transition: background-color 0.2s ease-out,
        transform 0.3s ease;
}

.headerInner {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.headerHidden {
    transform: translateY(-100%);
}

.headerTransparent {
    background-color: transparent;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navLogo {
    justify-self: start;
    color: var(--color-text);
    padding: var(--spacing-small) 0;
    text-decoration: none;
    font-family: var(--font-family-display);
}

.navList {
    display: flex;
    align-items: center;
}

.navItem {
    color: var(--color-text);
}

.navItem:not(:first-child) {
    padding-left: var(--spacing-medium);
}

.navItemMobile:not(:first-child) {
    padding-left: 0;
}

.navLink {
    text-transform: lowercase;
}

.navMenu {
    background-color: transparent;
    border: 0;
    color: var(--color-text);
    cursor: pointer;
    display: block;
    margin-right: calc(-1 * var(--spacing-small));
    padding: var(--spacing-small);
}

@media (prefers-reduced-motion: reduce) {
    .header {
        transition: none !important;
    }
}

@media only screen and (width <=767px) {
    .hideOnSmall {
        display: none;
    }
}

@media only screen and (width >=768px) {
    .hideOnMedium {
        display: none;
    }

    .navItem:not(:first-child) {
        padding-left: var(--spacing-xlarge);
    }

    .headerInner {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}