.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.isDisabled {
  pointer-events: none;
  overflow: hidden;
}

.noScroll {
  overflow: hidden;
}
