.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.mainContent {
  flex: 1;
}

.mainContentDisabled {
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}

.noScroll {
  overflow: hidden;
  scrollbar-gutter: stable;
}
