.overlay {
    background-color: var(--color-header-overlay);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    width: 100%;
    z-index: 8;
}

.overlayActive {
    opacity: 1;
    visibility: visible;
}

.isDisabled {
    pointer-events: none;
    overflow: hidden;
}