.section {
  display: block;
  position: relative;
  scroll-margin-top: var(--size-section-scroll-margin-top);
  padding-top: var(--spacing-xlarge);
  padding-bottom: var(--spacing-xlarge);
}

.sectionInner {
  width: 100%;
}

.sectionIntro {
  display: flex;
}

.sectionIntroDivider {
  background-color: var(--color-divider);
  height: var(--size-line-thin);
  margin: var(--spacing-xxsmall) var(--spacing-xxsmall) 0 0;
  width: var(--size-section-intro-divider);
}

.sectionIntroText {
  font-size: var(--text-detail);
  font-weight: var(--font-weight-regular);
  text-transform: lowercase;
}

.sectionTitle {
  font-family: var(--font-family-display);
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-medium);
}
