.section {
    display: block;
    position: relative;
    scroll-margin-top: 70px;
    padding-top: var(--spacing-xlarge);
    padding-bottom: var(--spacing-xlarge);
}

.sectionInner {
    width: 100%;
}

.sectionIntro {
    display: flex;
}

.sectionIntroDivider {
    background-color: var(--color-divider);
    height: 1px;
    margin: 8px 8px 0 0;
    width: 44px;
}

.sectionIntroText {
    font-size: var(--text-detail);
    font-weight: 400;
    text-transform: lowercase;
}

.sectionTitle {
    font-family: var(--font-family-display);
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-medium);
}