.sideMenu {
  background-color: var(--sem-color-bg-base);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: var(--comp-sidenav-max-width);
  transform: translateX(100%);
  transition: transform var(--pr-duration-base) var(--pr-easing-in-out);
  visibility: hidden;
  overflow-y: auto;
  z-index: var(--comp-sidenav-z-index);
}

.sideMenuOpen {
  transform: translateX(0);
  visibility: visible;
}

.sideMenuCloseButton {
  background-color: transparent;
  border: 0;
  color: var(--sem-color-text-primary);
  cursor: pointer;
  display: block;
  padding: var(--pr-spacing-4);
  text-align: right;
  margin-left: auto;
}

.sideMenuList {
  height: 100%;
  padding: 0;
  padding-top: var(--pr-spacing-2);
  list-style: none;
}

.sideMenuItem {
  border-bottom: var(--pr-border-width-1) solid var(--sem-color-border-base);
  cursor: pointer;
  height: var(--pr-size-44);
  margin-left: var(--pr-spacing-6);
}

.sideMenuLink {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--sem-color-text-primary);
  font-family: var(--font-body);;
  text-decoration: none;
  text-transform: lowercase;
}

.overlay {
  background-color: var(--sem-color-bg-overlay);
  inset: 0;
  opacity: 0;
  position: fixed;
  transition:
    opacity var(--pr-duration-base) var(--pr-easing-in-out),
    visibility var(--pr-duration-base) var(--pr-easing-in-out);
  visibility: hidden;
  width: 100%;
  z-index: var(--sem-z-overlay);
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
}
