.sideMenu {
    background-color: var(--color-bg);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 320px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    visibility: hidden;
    overflow-y: scroll;
    z-index: 9;
}

.isActive {
    transform: translateX(0);
    visibility: visible;
}

.sideMenuClose {
    background-color: transparent;
    border: 0;
    color: var(--color-text);
    cursor: pointer;
    display: block;
    padding: var(--spacing-small);
    text-align: right;
    margin-left: auto;
}

.sideMenuList {
    height: 100%;
    padding: 0;
    padding-top: var(--spacing-xxsmall);
    list-style: none;
}

.sideMenuItem {
    border-bottom: 1px solid var(--color-border);
    cursor: pointer;
    height: 44px;
    margin-left: var(--spacing-medium);
}

.sideMenuLink {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-family-body);
}

.linkActive {
    font-weight: 500;
}