.sideMenu {
  background-color: var(--color-bg);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: var(--size-side-nav-max);
  transform: translateX(100%);
  transition: transform var(--transition-base) var(--easing-in-out);
  visibility: hidden;
  overflow-y: scroll;
  z-index: var(--z-index-side-nav);
}

.sideMenuOpen {
  transform: translateX(0);
  visibility: visible;
}

.sideMenuCloseButton {
  background-color: transparent;
  border: 0;
  color: var(--color-text);
  cursor: pointer;
  display: block;
  padding: var(--spacing-small);
  text-align: right;
  margin-left: auto;
}

.sideMenuList {
  height: 100%;
  padding: 0;
  padding-top: var(--spacing-xxsmall);
  list-style: none;
}

.sideMenuItem {
  border-bottom: var(--size-line-thin) solid var(--color-border);
  cursor: pointer;
  height: var(--size-min-touch);
  margin-left: var(--spacing-medium);
}

.sideMenuLink {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-text);
  font-family: var(--font-family-body);;
  text-decoration: none;
  text-transform: lowercase;
}

.linkActive {
  font-weight: 500;
}

.overlay {
  background-color: var(--color-bg-overlay);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition:
    opacity var(--transition-base) var(--easing-in-out),
    visibility var(--transition-base) var(--easing-in-out);
  visibility: hidden;
  width: 100%;
  z-index: var(--z-index-overlay);
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
}
