.sideMenu {
  background-color: var(--color-bg-base);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: var(--sidenav-max-width);
  transform: translateX(100%);
  transition: transform var(--duration-base) var(--easing-in-out);
  visibility: hidden;
  overflow-y: scroll;
  z-index: var(--sidenav-z-index);
}

.sideMenuOpen {
  transform: translateX(0);
  visibility: visible;
}

.sideMenuCloseButton {
  background-color: transparent;
  border: 0;
  color: var(--color-text-primary);
  cursor: pointer;
  display: block;
  padding: var(--spacing-4);
  text-align: right;
  margin-left: auto;
}

.sideMenuList {
  height: 100%;
  padding: 0;
  padding-top: var(--spacing-2);
  list-style: none;
}

.sideMenuItem {
  border-bottom: var(--border-width-1) solid var(--color-border-base);
  cursor: pointer;
  height: var(--size-44);
  margin-left: var(--spacing-6);
}

.sideMenuLink {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-text-primary);
  font-family: var(--font-body);;
  text-decoration: none;
  text-transform: lowercase;
}

.linkActive {
  font-weight: 500;
}

.overlay {
  background-color: var(--color-bg-overlay);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition:
    opacity var(--duration-base) var(--easing-in-out),
    visibility var(--duration-base) var(--easing-in-out);
  visibility: hidden;
  width: 100%;
  z-index: var(--z-layer-overlay);
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
}
