.featuredSection {
  display: block;
  position: relative;
  scroll-margin-top: calc(var(--comp-header-height) + var(--pr-spacing-3));
}

.featuredSectionInner {
  width: 100%;
}

.featuredSectionIntro {
  display: flex;
  align-items: flex-start;
}

.featuredSectionIntroDivider {
  background-color: var(--sem-color-divider-strong);
  height: var(--pr-border-width-1);
  margin-block-start: var(--pr-spacing-2);
  margin-inline-end: var(--pr-spacing-2);
  width: var(--pr-size-52);
  flex-shrink: 0;
}

.featuredSectionIntroText {
  font-size: var(--sem-text-caption);
  font-weight: var(--pr-weight-400);
  text-transform: lowercase;
  line-height: var(--pr-leading-110);
}

.featuredSectionTitle {
  font-family: var(--font-display);
  padding-top: var(--pr-spacing-11);
  padding-bottom: var(--pr-spacing-6);
}
