.featuredSection {
  display: block;
  position: relative;
  isolation: isolate;
}

.featuredSection::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -2;
  background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 1%));
  opacity: 0.64;
  pointer-events: none;
}

.featuredSection::after {
  content: '';
  position: absolute;
  inset: 0 auto 0 0;
  width: var(--pr-size-1);
  background: linear-gradient(
    to bottom,
    transparent 0,
    var(--sem-color-divider-base) 10%,
    var(--sem-color-divider-base) 90%,
    transparent 100%
  );
  pointer-events: none;
  opacity: 0.6;
}

.featuredSectionInner {
  width: 100%;
  padding-top: var(--pr-spacing-16);
  margin-bottom: var(--pr-spacing-8);
}

.featuredSectionIntro {
  display: flex;
  align-items: center;
  gap: var(--pr-spacing-3);
}

.featuredSectionIntroDivider {
  background-color: var(--sem-color-border-accent);
  height: var(--pr-border-width-1);
  width: var(--pr-size-80);
  flex-shrink: 0;
}

.featuredSectionIntroText {
  font-size: var(--sem-text-caption);
  font-weight: var(--pr-weight-500);
  text-transform: uppercase;
  letter-spacing: var(--pr-tracking-12);
  color: var(--sem-color-text-primary);
  line-height: var(--pr-leading-110);
}

.featuredSectionTitle {
  font-family: var(--font-display);
  padding-top: var(--pr-spacing-6);
  padding-bottom: var(--pr-spacing-4);
  font-size: var(--sem-text-heading-md);
  line-height: var(--pr-leading-120);
  max-width: 20ch; /* Custom */
}

.featuredSectionDesc {
  max-width: var(--sem-layout-prose);
  line-height: var(--pr-leading-180);
  color: var(--sem-color-text-muted);
  margin-bottom: 0;
}

@media (width >= 768px) {
  .featuredSection::after {
    left: clamp(var(--pr-spacing-4), 5.2vw, var(--pr-spacing-16));
  }

  .featuredSectionInner {
    padding-top: var(--pr-spacing-21);
  }

  .featuredSectionIntroDivider {
    width: var(--pr-size-160);
  }
}

:global([data-theme='dark']) .featuredSection::before {
  background: linear-gradient(to bottom, transparent, rgb(255 255 255 / 2%));
  opacity: 0.6;
}
