.featuredSection {
  display: block;
  position: relative;
  scroll-margin-top: var(--section-scroll-margin-top);
}

.featuredSectionInner {
  width: 100%;
}

.featuredSectionIntro {
  display: flex;
}

.featuredSectionIntroDivider {
  background-color: var(--color-divider-strong);
  height: var(--border-width-1);
  margin: var(--spacing-2) var(--spacing-2) 0 0;
  width: var(--section-intro-divider);
}

.featuredSectionIntroText {
  font-size: var(--text-scale-200);
  font-weight: var(--font-weight-400);
  text-transform: lowercase;
  line-height: var(--leading-110);
}

.featuredSectionTitle {
  font-family: var(--font-display);
  padding-top: var(--spacing-11);
  padding-bottom: var(--spacing-6);
}
