.featuredSection {
  display: block;
  position: relative;
  scroll-margin-top: var(--comp-header-height) + var(--pr-spacing-3);
}

.featuredSectionInner {
  width: 100%;
}

.featuredSectionIntro {
  display: flex;
}

.featuredSectionIntroDivider {
  background-color: var(--sem-color-divider-strong);
  height: var(--pr-border-width-1);
  margin: var(--pr-spacing-2) var(--pr-spacing-2) 0 0;
  width: var(--pr-size-52);
}

.featuredSectionIntroText {
  font-size: var(--sem-text-caption);
  font-weight: var(--pr-weight-400);
  text-transform: lowercase;
  line-height: var(--pr-leading-110);
}

.featuredSectionTitle {
  font-family: var(--font-display);
  padding-top: var(--pr-spacing-11);
  padding-bottom: var(--pr-spacing-6);
}
