.hero {
  margin: 0 auto var(--spacing-medium);
  max-width: 1440px;
}

.heroDivider {
  background-color: var(--color-text);
  height: var(--size-line-thin);
  margin-bottom: 0.65em;
  margin-left: var(--spacing-small);
  width: 80px;
}

.heroInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.heroInner::after,
.heroInner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.heroInner::after {
  background-color: var(--color-accent-ice);
  z-index: -2;
  transition: background-color var(--transition-base) var(--easing-in-out);
}

.heroInner::before {
  background-image: url('/src/images/patterns.svg');
  background-repeat: no-repeat;
  opacity: var(--pattern-opacity);
  z-index: -1;
}

.heroLink {
  display: flex;
  align-items: flex-end;
  color: var(--color-text);
  text-decoration: none;
}

:global([data-theme='dark']) .heroLink {
  mix-blend-mode: difference;
}

.heroTitle {
  font-family: var(--font-family-display);
  color: var(--color-text);
  font-size: 3em;
  font-weight: normal;
  line-height: 0.9em;
  margin-bottom: var(--spacing-xxlarge);
  overflow-wrap: break-word;
}

.heroIndent {
  padding-left: 16vw;
}

.heroIndentInner {
  padding-left: var(--spacing-large);
}

@media only screen and (width >=768px) {
  .hero {
    margin-bottom: var(--spacing-large);
  }

  .heroAction {
    position: absolute;
    bottom: 10vh;
  }

  .heroDivider {
    width: 240px;
  }

  .heroInner {
    justify-content: center;
  }

  .heroInner::after {
    right: 13%;
    width: 67%;
  }

  .heroInner::before {
    background-position: top right;
    background-size: contain;
    right: 7%;
  }

  .heroTitle {
    font-size: 6em;
  }
}
