.hero {
  margin: 0 auto var(--pr-spacing-6);
  max-width: var(--sem-layout-page-max);
}

.heroDivider {
  background-color: var(--sem-color-text-primary);
  height: var(--pr-border-width-1);
  margin-bottom: var(--pr-spacing-3);
  margin-left: var(--pr-spacing-4);
  width: var(--pr-size-64);
}

.heroInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--pr-size-600);
  min-height: 100dvh;
  max-height: var(--pr-size-1200);
  overflow: hidden;
  position: relative;
}

.heroInner::after,
.heroInner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.heroInner::after {
  background-color: var(--sem-color-accent-gray);
  z-index: -2;
  transition: background-color var(--pr-duration-base) var(--pr-easing-in-out);
}

.heroInner::before {
  background-image: url('../../images/patterns.svg');
  background-repeat: no-repeat;
  opacity: var(--sem-pattern-opacity);
  z-index: -1;
}

.heroLink {
  display: flex;
  align-items: flex-end;
  color: var(--sem-color-text-primary);
  text-decoration: none;
}

:global([data-theme='dark']) .heroLink {
  mix-blend-mode: difference;
}

.heroTitle {
  font-family: var(--font-display);
  color: var(--sem-color-text-primary);
  font-size: calc(var(--pr-text-900) * 1.5);
  font-weight: normal;
  line-height: 0.9em;
  margin-bottom: var(--pr-spacing-21);
  overflow-wrap: break-word;
}

.heroIndent {
  padding-left: 16vw;
}

.heroIndentInner {
  padding-left: var(--pr-spacing-11);
}

@media only screen and (width >=768px) {
  .hero {
    margin-bottom: var(--pr-spacing-11);
  }

  .heroAction {
    position: absolute;
    bottom: 10vh;
  }

  .heroDivider {
    width: var(--pr-size-240);
  }

  .heroInner {
    justify-content: center;
  }

  .heroInner::after {
    right: 13%;
    width: 67%;
  }

  .heroInner::before {
    background-position: top right;
    background-size: contain;
    right: 7%;
  }

  .heroTitle {
    font-size: calc(var(--pr-text-900) * 2);
  }
}
