.workItem {
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-16);
}

.workItemImage {
  margin-bottom: var(--spacing-11);
  width: 100%;
  height: auto;
}

.workItemImageMid {
  max-width: 720px;
}

.workItemTitle {
  color: var(--color-text-strong);
  font-weight: var(--font-weight-500);
  margin-bottom: var(--spacing-2);
}

.workItemSubtitle {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.workItemCompany {
  font-weight: var(--font-weight-500);
}

.workItemPosition {
  font-size: var(--text-scale-200);
  font-style: italic;
  margin-bottom: var(--spacing-2);
}

.workItemTags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}
