.Card {
  background: #fff;
  position: relative;
  margin: 0;
  width: 100%;
}

.Card-figure {
  display: block;
  width: 100%;
  margin: 0;
}

.Card-image {
  position: relative;
  width: 100%;
  height: auto;
}
