.tag {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border: var(--pr-border-width-1) solid var(--sem-color-border-base);
  line-height: var(--pr-leading-100);
  border-radius: var(--comp-tag-radius);
  font-size: var(--sem-text-caption);
  background-color: transparent;
  color: var(--sem-color-text-primary);
  font-weight: var(--pr-weight-600);
}

/* --- Variants --- */
.tagDefault {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-base);
}

.tagSuccess {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-success);
}

.tagWarning {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-warning);
}

.tagInfo {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-info);
}

.tagError {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-error);
}

/* --- Sizes --- */
.tagSm {
  font-size: var(--pr-text-100);
  padding: var(--pr-spacing-1) var(--pr-spacing-2);
}

.tagMd {
  font-size: var(--sem-text-caption);
  padding: var(--pr-spacing-1) var(--pr-spacing-3);
}

.tagLg {
  font-size: var(--pr-text-body);
  padding: var(--pr-spacing-2) var(--pr-spacing-4);
}
