.tag {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border: var(--pr-border-width-1) solid var(--sem-color-border-base);
  line-height: var(--pr-leading-100);
  border-radius: var(--comp-tag-radius);
  font-size: var(--sem-text-caption);
  background-color: transparent;
  color: var(--sem-color-text-primary);
  font-weight: var(--pr-weight-600);
}

/* --- Variants --- */
.default {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-base);
}

.success {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-success);
}

.warning {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-warning);
}

.info {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-info);
}

.error {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-error);
}

.outline {
  background-color: transparent;
  color: var(--sem-color-text-primary);
  border-color: var(--sem-color-border-base);
}

/* --- Sizes --- */
.sm {
  font-size: var(--pr-text-100);
  padding: var(--pr-spacing-1) var(--pr-spacing-2);
}

.md {
  font-size: var(--sem-text-caption);
  padding: var(--pr-spacing-1) var(--pr-spacing-3);
}

.lg {
  font-size: var(--pr-text-body);
  padding: var(--pr-spacing-2) var(--pr-spacing-4);
}
