// Variables

// Colors
$white: #ffffff;

$charcoal-xxxlight: #fafafa;

$dark: #222222;
$primary: #f9821f !default;


// Font sizes
$font-size-detail: 13px;
$font-size-ui: 14px;
$font-size-landing: 16px;
$font-size-heading3: 20px;


// Spacing
$spacing-small: 16px;
$spacing-medium: 24px;
