.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: var(--pr-weight-500);
  border: var(--pr-border-width-1) solid transparent;
  border-radius: var(--comp-badge-radius);
  line-height: var(--pr-leading-100);
  padding: var(--pr-spacing-1) var(--pr-spacing-3);
  font-size: var(--sem-text-caption);
}

/* Variants */
.badgeSuccess {
  background-color: var(--sem-color-bg-success);
  border-color: var(--sem-color-border-success);
  color: var(--sem-color-text-success);
}

.badgeWarning {
  background-color: var(--sem-color-bg-warning);
  border-color: var(--sem-color-border-warning);
  color: var(--sem-color-text-warning);
}

.badgeInfo {
  background-color: var(--sem-color-bg-info);
  border-color: var(--sem-color-border-info);
  color: var(--sem-color-text-info);
}

.badgeError {
  background-color: var(--sem-color-bg-error);
  border-color: var(--sem-color-border-error);
  color: var(--sem-color-text-error);
}

/* Sizes */
.badgeSm {
  width: var(--comp-badge-size-sm);
  height: var(--comp-badge-size-sm);
  padding: 0; /* just a dot, ignore padding */
}

.badgeMd {
  font-size: var(--sem-text-caption);
  min-width: var(--comp-badge-size-md);
  height: var(--comp-badge-size-md);
  padding: var(--pr-spacing-1);
}

.badgeLg {
  font-size: var(--sem-text-caption);
  min-width: var(--comp-badge-size-lg);
  height: var(--comp-badge-size-lg);
  padding: var(--pr-spacing-1);
}
