.badge {
  --comp-badge-radius: var(--sem-radius-pill);
  --comp-badge-size-sm: var(--pr-size-10);
  --comp-badge-size-md: var(--pr-size-24);
  --comp-badge-size-lg: var(--pr-size-28);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: var(--pr-weight-500);
  border: var(--pr-border-width-1) solid transparent;
  border-radius: var(--comp-badge-radius);
  line-height: var(--pr-leading-100);
  padding: var(--pr-spacing-1) var(--pr-spacing-3);
  font-size: var(--sem-text-caption);
}

/* Variants */
.badgeSuccess {
  background-color: var(--sem-color-success-strong);
  border-color: var(--sem-color-success-strong);
  color: var(--sem-color-text-success-strong-on-bg);
}

.badgeWarning {
  background-color: var(--sem-color-warning-strong);
  border-color: var(--sem-color-warning-strong);
  color: var(--sem-color-text-warning-strong-on-bg);
}

.badgeInfo {
  background-color: var(--sem-color-info-strong);
  border-color: var(--sem-color-info-strong);
  color: var(--sem-color-text-info-strong-on-bg);
}

.badgeError {
  background-color: var(--sem-color-error-strong);
  border-color: var(--sem-color-error-strong);
  color: var(--sem-color-text-error-strong-on-bg);
}

/* Sizes */
.badgeSm {
  width: var(--comp-badge-size-sm);
  height: var(--comp-badge-size-sm);
  padding: 0; /* just a dot, ignore padding */
}

.badgeMd {
  font-size: var(--sem-text-caption);
  min-width: var(--comp-badge-size-md);
  height: var(--comp-badge-size-md);
  padding: var(--pr-spacing-1);
}

.badgeLg {
  font-size: var(--sem-text-caption);
  min-width: var(--comp-badge-size-lg);
  height: var(--comp-badge-size-lg);
  padding: var(--pr-spacing-1);
}
