.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.socialsItem {
  margin: 0;
}

.socialsLink {
  color: var(--sem-color-text-primary);
  font-size: var(--sem-text-body);
  font-weight: var(--pr-weight-500);
}
