.About {
  text-align: center;

  &-content {
    padding: 0 $spacing-large;
    width: 100%;
  }

  &-figure {
    background: $secondary-xlight;
    position: relative;
    margin: 0;

    &-image {
      display: block;
      width: 100%;
    }
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing-large 0;
  }

  &-subtitle {
    font-size: $font-size-landing;
    font-weight: $font-weight-regular;
  }

  &-title {
    @include heading-font;
    font-size: $font-size-heading2;
    font-weight: $font-weight-medium;
    line-height: 36px;
    margin-bottom: $spacing-xsmall;
  }
}

@media only screen and (min-width: 801px) {
  .About {
    text-align: left;

    &-content {
      padding: 0 $spacing-small;
      width: 45%;
    }

    &-figure {
      width: 55%;
    }

    &-description {
      font-size: $font-size-ui;
    }

    &-title {
      font-size: $font-size-heading1;
      line-height: 48px;
      margin-bottom: $spacing-small;
    }

    &-subtitle {
      font-size: $font-size-heading3;
      font-weight: $font-weight-regular;
      line-height: 28px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .About {
    &-content {
      padding: 0 $spacing-xsmall;
    }
  }
}
