.Card {
  box-shadow: 0 1px 8px rgba(50, 50, 93, .1);
  margin: 0;
  position: relative;

  &-figure {
    height: 160px;
    margin: 0;
    width: 240px;

    &-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &.is-placeholder {
      background: $secondary-xlight;
    }
  }

  &-info {
    background: $secondary-xxxlight;
    color: $secondary-xxxdark;
    padding: $spacing-xsmall;
    text-align: left;

    &-title {
      font-size: $font-size-detail;
      font-weight: 500;
      margin-bottom: $spacing-xxsmall;
    }

    &-description {
      font-size: .8em;
      margin-bottom: $spacing-xsmall;
    }

    &-service {
      border-top: 1px solid $secondary-light;
      color: $secondary;
      font-size: .7em;
      padding-top: $spacing-xxsmall;

      &::selection {
        color: $secondary-xxxdark;
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  .Card {
    &-placeholder {
      &-image {
        font-size: 4rem !important;
      }
    }
  }
}
