.Card {
  background: $white;
  position: relative;
  margin: 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);

  &-info {
    &-content {
      padding: $spacing-xsmall;
      text-align: left;
    }
  }

  &-figure {
    align-items: center;
    background: #eee;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 200px;
    width: 100%;
  }

  &-image {
    // position: relative;
    width: 100%;
    // height: auto;
    display: block;
  }

  &-placeholder {
    &-image {
      color: #ccc;
      opacity: 0.6;
    }
  }
}

@media only screen and (max-width: 340px) {
  .Card {
    &-placeholder {
      &-image {
        font-size: 4rem !important;
      }
    }
  }
}
