/**
 * Default: Mobile
 */
.Hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;

  &-content {
    width: 80%;
  }

  &-description {
    background: $secondary-xxxdark;
    color: $secondary-xxxlight;
    font-size: $font-size-ui;
    font-weight: $font-weight-light;
    padding: $spacing-small;
    width: 70%;
    word-break: break-word;
  }

  &-divider {
    height: 2.4px;
    margin-bottom: $spacing-medium;
    width: 32px;

    &--dark {
      background: $secondary-xxxdark;
    }

    &--white {
      background: $secondary-xxxlight;
    }
  }

  &-figure {
    border: 6px solid $primary;
    bottom: 0;
    margin: $spacing-medium 0;
    position: absolute;
    right: $spacing-medium;
    top: 0;
    width: 70%;
    z-index: -1;
  }

  &-inner {
    padding: $spacing-xlarge 10vw;
    width: 100%;
  }

  &-title {
    @include heading-font;
    font-size: $font-size-heading1;
    font-weight: $font-weight-medium;
    line-height: 48px;
    margin-bottom: $spacing-large;
  }
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Hero {
    &-content {
      width: 70%;
    }

    &-description {
      font-size: $font-size-landing;
      padding: $spacing-medium;
    }

    &-divider {
      height: 3px;
      width: 46px;
    }

    &-figure {
      margin: $spacing-large 0;
      right: $spacing-large;
      width: 60%;
    }

    &-title {
      font-size: $font-size-heading;
      line-height: 68px;
      margin-bottom: $spacing-xlarge;
    }
  }
}

/**
 * Extra: Small device
 */
@media only screen and (max-width: 321px) {
  .Hero {
    &-content {
      width: 90%;
    }
  }
}
