.List {
  &-category {
    &:not(:last-child) {
      margin-bottom: $spacing-medium;
    }
  }

  &-item {
    font-size: $font-size-detail;
  }

  &-title {
    @include heading-font;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-xxsmall;
    margin-top: 0;
  }
}
