.Section {
  // border-bottom: 1px solid #eee;
  position: relative;
  text-align: center;
  margin-bottom: $spacing-large;

  &-content {
    width: 100%;
  }

  &-figure {
    background: $primary;
    color: $dark;
    // height: 300px;
    width: 100%;
    // margin-left: -$spacing-medium;
    // margin-right: -$spacing-medium;
    // margin-top: $spacing-medium;
    text-align: left;
    top: 0;
    padding: $spacing-medium;

    ::selection {
      background: $white;
    }

    // &-image {
    //   display: block;
    //   min-width: 250px;
    //   width: 100%;
    // }
  }

  &-grid {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      padding: $spacing-small;
      width: 100%;
    }
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    // padding: $spacing-large 0;
    padding: $spacing-xlarge $spacing-medium;
  }

  &-skills {
    display: flex;
    flex-wrap: wrap;

    &-description {
      font-size: $font-size-detail;
      line-height: 21px;
    }

    &-category {
      margin-bottom: $spacing-medium;
      margin-right: $spacing-xlarge;
    }

    &-title {
      @include heading-font;
      font-size: $font-size-landing;
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-xxsmall;
    }
  }

  &-socials {
    &-icon {
      color: $dark;
    }
  }

  &-subtitle {
    font-size: $font-size-landing;
    font-weight: $font-weight-regular;
  }

  &-title {
    @include heading-font;
    font-size: $font-size-heading2;
    font-weight: $font-weight-medium;
    line-height: 36px;
    margin-bottom: $spacing-small;
  }

  &--dark {
    background: $dark;
    color: $white;
  }
}

@media only screen and (min-width: 768px) {
  .Section {
    text-align: left;

    &-content {
      width: 40%;

      &--full {
        width: 100%;
      }
    }

    &-description {
      font-size: $font-size-ui;
    }

    &-figure {
      bottom: 0;
      margin: $spacing-large 0;
      padding: $spacing-medium $spacing-large;
      position: absolute;
      right: 0;
      width: 55%;
    }

    &-inner {
      padding: $spacing-xlarge $spacing-large;
    }

    &-title {
      font-size: $font-size-heading1;
      line-height: 48px;
      margin-bottom: $spacing-medium;
    }

    &-subtitle {
      font-size: $font-size-heading3;
      font-weight: $font-weight-regular;
      line-height: 28px;

    }
  }
}

// @media only screen and (max-width: 400px) {
//   .Section {
//     &-content {
//       padding: 0 $spacing-xsmall;
//     }
//   }
// }

@media only screen and (max-width: 1400px) {
  .Section {
    &-grid {
      &-item {
        width: 33.33333%;
      }
    }
  }
}

@media only screen and (min-width: 1401px) {
  .Section {
    &-grid {
      &-item {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .Section {
    &-grid {
      &-item {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Section {
    &-grid {
      &-item {
        width: 100%;
      }
    }
  }
}
