.SideMenu {
  &-footer {
    bottom: 0;
    padding: $spacing-medium $spacing-small;
    position: absolute;
    width: 100%;
  }

  &-inner {
    height: 100%;
    position: relative;
  }

  &-item {
    border-bottom: 1px solid $secondary-light;
    margin-left: $spacing-medium;
  }

  &-link {
    // Override Material
    font-weight: $font-weight-regular !important;
    padding: 0 $spacing-medium !important;

    &.is-active {
      font-weight: 500 !important;
    }
  }

  &-list {
    width: 80vw;
  }
}
