.skillsCard {
  padding: var(--spacing-medium);
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-radius: 5px;
  box-shadow: var(--card-shadow);
  min-width: min(260px, 100%);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.skillsCardTitle {
  color: var(--card-text-color);
  margin-bottom: var(--spacing-xsmall);
}

.skillsCardList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skillsCardItem {
  font-size: var(--text-detail);
  padding-top: var(--spacing-xxxsmall);
  padding-bottom: var(--spacing-xxxsmall);
}

.skillsCardItem:last-child {
  padding-bottom: 0;
}
