.socials {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialsItem {
  padding: var(--spacing-small);
}

.socialsItem:first-child {
  padding-left: 0;
}

.socialsItemCopy {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xxxsmall);
}

.socialLink {
  color: var(--color-text);
  text-decoration: none;
}
