.tag {
  color: var(--tag-text-color);
  font-size: var(--text-detail);
  border-radius: 32px;
  border: 1px solid var(--color-border-dark);
  padding: var(--spacing-xxxsmall) var(--spacing-xsmall);
  white-space: nowrap;
}
