body {
  background-color: #fcfcfc;
  color: #292929;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Heebo', Arial, sans-serif;
}

header {
  background-color: none;
}

::selection {
  background: #03b787;
}

nav {
  background: inherit;
  box-shadow: none;
}

nav .sidenav-trigger {
  margin: 0;
}

nav ul a:hover {
  background-color: transparent;
}

/**
 * Default: Mobile
 */
.Header {
  background: rgba(252, 252, 252, 0.9);
  height: 56px;
  left: 0;
  min-width: 320px;
  position: fixed;
  right: 0;
  top: 0;
  transition: background 0.3s ease-out;
  z-index: 1;
}

.Header-inner {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 24px;
}

.Header.is-transparent {
  background: none;
}

/**
 * Tablet
 */
@media only screen and (min-width: 768px) {
  .Header-inner {
    padding: 0 44px;
  }
}

.Footer-nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Main {
  bottom: 0;
  left: 0;
  min-width: 320px;
  position: absolute;
  right: 0;
  top: 56px;
}

.About {
  text-align: center;
}

.About-content {
  padding: 0 44px;
  width: 100%;
}

.About-figure {
  background: #eee;
  position: relative;
  margin: 0;
}

.About-figure-image {
  display: block;
  width: 100%;
}

.About-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 44px 0;
}

.About-subtitle {
  font-size: 16px;
  font-weight: 400;
}

.About-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 12px;
}

@media only screen and (min-width: 801px) {
  .About {
    text-align: left;
  }
  .About-content {
    padding: 0 16px;
    width: 45%;
  }
  .About-figure {
    width: 55%;
  }
  .About-description {
    font-size: 14px;
  }
  .About-inner {
    padding: 64px 0;
  }
  .About-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .About-subtitle {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
  }
}

@media only screen and (max-width: 400px) {
  .About-content {
    padding: 0 12px;
  }
}

.Card {
  background: white;
  position: relative;
  margin: 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}

.Card-info-content {
  font-size: 13px;
  padding: 8px;
  text-align: left;
}

.Card-figure {
  align-items: center;
  background: #eee;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 200px;
  width: 100%;
}

.Card-image {
  width: 100%;
  display: block;
}

.Card-placeholder-image {
  color: #ccc;
  opacity: 0.6;
}

@media only screen and (max-width: 340px) {
  .Card-placeholder-image {
    font-size: 4rem !important;
  }
}

/**
 * Default: Mobile
 */
.Hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

.Hero-content {
  width: 80%;
}

.Hero-description {
  background: #292929;
  color: white;
  font-size: 14px;
  font-weight: 300;
  padding: 16px;
  width: 70%;
  word-break: break-word;
}

.Hero-divider {
  height: 2.4px;
  margin-bottom: 24px;
  width: 32px;
}

.Hero-divider--dark {
  background: #292929;
}

.Hero-divider--white {
  background: white;
}

.Hero-figure {
  border: 6px solid #03b787;
  bottom: 0;
  margin: 24px 0;
  position: absolute;
  right: 24px;
  top: 0;
  width: 70%;
  z-index: -1;
}

.Hero-inner {
  padding: 64px 24px;
  width: 100%;
}

.Hero-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 44px;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Hero-content {
    width: 70%;
  }
  .Hero-description {
    font-size: 16px;
    padding: 24px;
  }
  .Hero-divider {
    height: 3px;
    width: 46px;
  }
  .Hero-figure {
    margin: 44px 0;
    right: 44px;
    width: 60%;
  }
  .Hero-inner {
    padding: 64px 44px;
  }
  .Hero-title {
    font-size: 66px;
    line-height: 68px;
    margin-bottom: 64px;
  }
}

/**
 * Extra: Small device
 */
@media only screen and (max-width: 321px) {
  .Hero-content {
    width: 90%;
  }
}

.Nav-item {
  color: #292929;
}

.Nav-item:not(:first-child) {
  padding-left: 24px;
}

.Nav-logo {
  color: #292929;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0;
  font-family: 'Vollkorn', Arial, serif;
}

.Nav-link {
  font-family: 'Heebo', Arial, sans-serif;
  color: #292929;
  display: inline-block;
  line-height: initial;
  padding: 2px 0;
  position: relative;
  text-transform: lowercase;
}

.Nav-link::after {
  background: #292929;
  bottom: 0;
  content: '';
  height: 1.6px;
  left: 0;
  position: absolute;
  transform: scale3d(0, 1, 1);
  transition: all 0.3s ease-out;
  transform-origin: left;
  width: 100%;
}

.Nav-link:hover::after {
  transform: scale3d(1, 1, 1);
}

.Nav-link.is-active {
  font-weight: 500;
}

.Nav-menu-icon {
  color: #292929;
}

.Nav-list {
  list-style: none;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .hide-on-small {
    display: none;
  }
}

@media only screen and (min-width: 401px) {
  .hide-on-medium {
    display: none;
  }
}

/**
 * Default: Mobile
 */
.Section {
  position: relative;
  text-align: center;
  margin-bottom: 44px;
}

.Section:last-of-type {
  margin-bottom: 24px;
}

.Section-content {
  margin-bottom: 24px;
  width: 100%;
}

.Section-figure {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 24px 0;
  width: 100%;
}

.Section-figure-description {
  border: solid 4px #292929;
  margin-right: 50%;
  min-width: 180px;
  padding: 16px;
  text-align: left;
  width: 60%;
  word-break: break-all;
}

.Section-figure-image {
  margin-left: 30%;
  max-height: 280px;
  position: absolute;
  z-index: -1;
}

.Section-grid-list {
  display: flex;
  flex-wrap: wrap;
}

.Section-grid-item {
  padding: 16px;
  width: 100%;
}

.Section-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 64px 24px;
}

.Section-skills-description {
  font-size: 13px;
  line-height: 21px;
}

.Section-skills-category:not(:first-child) {
  margin-top: 24px;
}

.Section-skills-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Section-socials-icon {
  color: #292929;
}

.Section-subtitle {
  font-size: 16px;
  font-weight: 400;
}

.Section-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}

.Section--dark {
  background: #292929;
  color: white;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Section {
    text-align: left;
    margin-bottom: 84px;
  }
  .Section-content {
    width: 40%;
  }
  .Section-content--full {
    width: 100%;
  }
  .Section-description {
    font-size: 14px;
  }
  .Section-figure {
    height: 100%;
    margin-left: auto;
    position: absolute;
    right: 0;
    width: 52%;
  }
  .Section-figure-image {
    max-height: 360px;
  }
  .Section-inner {
    padding: 64px 44px;
  }
  .Section-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .Section-subtitle {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
  }
}

@media only screen and (max-width: 1400px) {
  .Section-grid-item {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 1401px) {
  .Section-grid-item {
    width: 25%;
  }
}

@media only screen and (max-width: 860px) {
  .Section-grid-item {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .Section-grid-item {
    width: 100%;
  }
}

.SideMenu-item {
  border-bottom: 1px solid #eee;
}

.SideMenu-link {
  padding: 0 24px !important;
}
