body {
  background-color: #fcfcfc;
  color: #292929;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Heebo', Arial, sans-serif;
}

header {
  background-color: none;
}

::-moz-selection {
  background: #03b787;
}

::selection {
  background: #03b787;
}

nav {
  background: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav .sidenav-trigger {
  margin: 0;
}

nav ul a:hover {
  background-color: transparent;
}

.sidenav li > a:hover {
  background-color: transparent;
}

/**
 * Default: Mobile
 */
.Header {
  background: rgba(252, 252, 252, 0.9);
  height: 56px;
  left: 0;
  min-width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  z-index: 999;
}

.Header-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 6vw;
}

.Header.is-transparent {
  background: none;
}

.Footer {
  border-top: 1px solid #eee;
}

.Footer-copyright {
  font-size: 12px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}

.Footer-copyright-link {
  font-weight: 500;
}

.Footer-inner {
  padding: 12px 8vw;
}

.Main {
  bottom: 0;
  left: 0;
  min-width: 300px;
  position: absolute;
  right: 0;
  top: 56px;
}

.PortfolioList {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.PortfolioList-item {
  padding: 0 8px;
  margin: 0 auto 44px auto;
}

@media only screen and (min-width: 768px) {
  .PortfolioList {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .PortfolioList-item {
    margin: 0 0 44px 0;
  }
}

@media only screen and (max-width: 360px) {
  .PortfolioList-item {
    padding: 0;
  }
}

/**
 * Default: Mobile
 */
.Section {
  position: relative;
  margin-bottom: 24px;
}

.Section:last-of-type {
  margin-bottom: 0;
}

.Section-action {
  margin: 24px 0 44px 0;
}

.Section-column {
  margin-right: 0;
}

.Section-content {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.Section-content--full {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.Section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  -webkit-transform: translateX(-8vw);
  transform: translateX(-8vw);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.Section-intro-divider {
  background: #292929;
  height: 1px;
  margin: 8px 8px 0 0;
  width: 44px;
}

.Section-intro-text {
  font-size: 12px;
}

.Section-intro.is-visible {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.Section-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 44px 0 24px 0;
  position: relative;
}

.Section-subcontent-description {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 16px;
  position: relative;
  text-align: left;
  word-break: break-all;
  z-index: 2;
}

.Section-subcontent-figure {
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.Section-subcontent-figure-image {
  display: block;
  height: auto;
  width: 100%;
}

.Section-subcontent::after {
  background: #eee;
  content: '';
  left: 0;
  min-width: 170px;
  height: 0%;
  position: absolute;
  top: 0;
  -webkit-transition: height 0.7s ease-out;
  transition: height 0.7s ease-out;
  width: 60%;
  z-index: 0;
}

.Section-subcontent.is-visible::after {
  height: 100%;
}

.Section-inner {
  padding: 44px 8vw;
}

.Section-inner--wide {
  padding: 44px 5vw;
}

.Section-list {
  margin-top: 44px;
}

.Section-socials-icon {
  color: #292929;
}

.Section-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.Section-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 24px;
}

.Section-title--small {
  font-size: 21px;
}

.Section--dark {
  background: #292929;
  color: #ffffff;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Section {
    margin-bottom: 64px;
  }
  .Section-column:not(:last-child) {
    margin-right: 24px;
  }
  .Section-content {
    margin-top: 44px;
    text-align: left;
  }
  .Section-description--narrow {
    max-width: 50vw;
  }
  .Section-inner {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .Section-subcontent {
    margin-top: 88px;
  }
}

.About {
  text-align: center;
}

.About-content {
  padding: 0 44px;
  width: 100%;
}

.About-figure {
  background: #eee;
  position: relative;
  margin: 0;
}

.About-figure-image {
  display: block;
  width: 100%;
}

.About-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 44px 0;
}

.About-subtitle {
  font-size: 16px;
  font-weight: 400;
}

.About-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 12px;
}

@media only screen and (min-width: 801px) {
  .About {
    text-align: left;
  }
  .About-content {
    padding: 0 16px;
    width: 45%;
  }
  .About-figure {
    width: 55%;
  }
  .About-description {
    font-size: 14px;
  }
  .About-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .About-subtitle {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
  }
}

@media only screen and (max-width: 400px) {
  .About-content {
    padding: 0 12px;
  }
}

.Button {
  display: block;
  font-size: 13px;
  padding: 12px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Button-primary {
  background: #03b787;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 16x rgba(50, 50, 93, 0.3);
  box-shadow: 0 2px 16x rgba(50, 50, 93, 0.3);
  color: #ffffff;
}

.Button-primary--hollow {
  background: none;
  border: 1px solid #03b787;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #03b787;
}

.Card {
  -webkit-box-shadow: 0 1px 8px rgba(50, 50, 93, 0.1);
  box-shadow: 0 1px 8px rgba(50, 50, 93, 0.1);
  margin: 0;
  position: relative;
}

.Card-figure {
  height: 160px;
  margin: 0;
  width: 240px;
}

.Card-figure-image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.Card-figure.is-placeholder {
  background: #eee;
}

.Card-info {
  background: #ffffff;
  color: #292929;
  padding: 12px;
  text-align: left;
}

.Card-info-title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
}

.Card-info-description {
  font-size: .8em;
  margin-bottom: 12px;
}

.Card-info-service {
  border-top: 1px solid #dfdfe2;
  color: #a7a9ab;
  font-size: .7em;
  padding-top: 8px;
}

.Card-info-service::-moz-selection {
  color: #292929;
}

.Card-info-service::selection {
  color: #292929;
}

@media only screen and (max-width: 340px) {
  .Card-placeholder-image {
    font-size: 4rem !important;
  }
}

.Form {
  width: 100%;
}

.Form-action {
  background: none;
  border: 1px solid #292929;
  color: #292929;
  display: block;
  font-size: 14px;
  padding: 12px 64px;
  text-align: center;
}

.Form-group {
  margin-bottom: 24px;
}

.Form-input, .Form-textarea {
  border-bottom: 1px solid #a7a9ab !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  font-size: 14px !important;
  height: 2.5rem !important;
  outline: none;
  resize: vertical;
}

.Form-input:focus, .Form-input:active, .Form-textarea:focus, .Form-textarea:active {
  border-bottom: 1px solid #03b787 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.Form-label {
  color: #767676;
  display: block;
  font-size: 11px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.Form-row {
  margin-bottom: 24px;
}

.Form-textarea {
  height: 120px !important;
  resize: none;
  overflow: hidden;
}

/**
 * Default: Mobile
 */
.Hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Hero-content {
  width: 80%;
}

.Hero-description {
  background: #292929;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding: 16px;
  width: 70%;
  word-break: break-word;
}

.Hero-divider {
  height: 2.4px;
  margin-bottom: 24px;
  width: 32px;
}

.Hero-divider--dark {
  background: #292929;
}

.Hero-divider--white {
  background: #ffffff;
}

.Hero-figure {
  background: #eee;
  bottom: 0;
  margin: 24px 0;
  position: absolute;
  right: 24px;
  top: 0;
  width: 70%;
  z-index: -1;
}

.Hero-inner {
  padding: 64px 8vw;
  width: 100%;
}

.Hero-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 44px;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Hero-content {
    width: 70%;
  }
  .Hero-description {
    font-size: 16px;
    padding: 24px;
  }
  .Hero-divider {
    height: 3px;
    width: 46px;
  }
  .Hero-figure {
    margin: 44px 0;
    right: 44px;
    width: 60%;
  }
  .Hero-title {
    font-size: 66px;
    line-height: 68px;
    margin-bottom: 64px;
  }
}

/**
 * Extra: Small device
 */
@media only screen and (max-width: 321px) {
  .Hero-content {
    width: 90%;
  }
}

.Icon {
  color: #292929;
  display: block;
}

.Icon-mail {
  font-size: 1.20em;
}

.List-category:not(:last-child) {
  margin-bottom: 24px;
}

.List-item {
  font-size: 13px;
  line-height: 21px;
}

.List-title {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Nav-item {
  color: #292929;
}

.Nav-item:not(:first-child) {
  padding-left: 24px;
}

.Nav-logo {
  color: #292929;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0;
  font-family: 'Vollkorn', Arial, serif;
}

.Nav-link {
  font-family: 'Heebo', Arial, sans-serif;
  color: #292929;
  display: inline-block;
  line-height: initial;
  padding: 2px 0;
  position: relative;
  text-transform: lowercase;
}

.Nav-link::after {
  background: #292929;
  bottom: 0;
  content: '';
  height: 1.6px;
  left: 0;
  position: absolute;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%;
}

.Nav-link:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.Nav-link.is-active {
  font-weight: 500;
}

.Nav-menu-icon {
  color: #292929;
}

.Nav-list {
  list-style: none;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .hide-on-small {
    display: none;
  }
}

@media only screen and (min-width: 401px) {
  .hide-on-medium {
    display: none;
  }
}

.SideMenu-footer {
  bottom: 0;
  padding: 24px 16px;
  position: absolute;
  width: 100%;
}

.SideMenu-inner {
  height: 100%;
  position: relative;
}

.SideMenu-item {
  border-bottom: 1px solid #eee;
  margin-left: 24px;
}

.SideMenu-link {
  font-weight: 400 !important;
  padding: 0 24px !important;
}

.SideMenu-link.is-active {
  font-weight: 500 !important;
}

.SideMenu-list {
  width: 80vw;
}

.Social-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Social-list--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -16px;
}

.Social-list--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.Social-link {
  padding: 16px;
}

.Social-link-icon {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.Social-link:hover .Social-link-icon {
  color: #03b787;
}

.Social-link--small {
  padding: 14px;
}
