html {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* Body Content */
body {
  font-size: 1em;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    line-height: 1.375;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h4 {
    line-height: 1.22222222;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* keep to a multiple of the 20px line height
    and something more appropriate for display headings */
    line-height: 1.05;
    /* 14.7px */
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

body {
  background-color: #fcfcfc;
  color: #1d1d1e;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Heebo', Arial, sans-serif;
}

header {
  background-color: none;
}

::-moz-selection {
  background: #03b787;
}

::selection {
  background: #03b787;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

nav {
  background: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav .sidenav-trigger {
  margin: 0;
}

nav ul a {
  font-size: 1em;
}

nav ul a:hover {
  background-color: transparent;
}

.sidenav li > a:hover {
  background-color: transparent;
}

/**
 * Default: Mobile
 */
.Header {
  background: rgba(252, 252, 252, 0.9);
  height: 56px;
  left: 0;
  min-width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  z-index: 999;
}

.Header-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 8vw;
}

.Header.is-transparent {
  background: none;
}

.Footer {
  background-color: #fcfcfc;
  border-top: 1px solid #ebebed;
}

.Footer-copyright {
  font-size: 0.875em;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}

.Footer-copyright-link {
  font-weight: 500;
}

.Footer-inner {
  padding: 12px 8vw;
}

.Main {
  min-width: 300px;
}

.PortfolioList {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -12px;
}

.PortfolioList-item {
  margin: 12px;
}

/**
 * Default: Mobile
 */
.Resume {
  line-height: 1.85em;
  margin-top: 56px;
}

.Resume-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Resume-details {
  color: #37373a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Resume-inner {
  padding: 44px 8vw;
}

.Resume-item {
  margin-bottom: 24px;
}

.Resume-list {
  margin: 0 24px 24px 0;
  padding-left: 16px !important;
}

.Resume-list-item {
  list-style-type: disc !important;
}

.Resume-main {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.Resume-note {
  color: #37373a;
  font-size: 0.875em;
  margin-bottom: 16px;
}

.Resume-side {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.Resume-social-item {
  margin-bottom: 16px;
}

.Resume-social-link {
  font-size: 0.875em;
}

.Resume-social-title {
  font-weight: 500;
}

.Resume-subtitle {
  font-weight: 500;
  margin-bottom: 8px;
}

.Resume-title {
  font-family: 'Vollkorn', Arial, serif;
  border-bottom: 1.2px solid #37373a;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 24px;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Resume-main {
    -ms-flex-preferred-size: 63%;
    flex-basis: 63%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .Resume-side {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

/**
 * Default: Mobile
 */
.Section {
  position: relative;
  margin-bottom: 24px;
}

.Section-action {
  margin: 24px 0 44px 0;
}

.Section-column {
  margin-right: 0;
}

.Section-content {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.Section-content--full {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.Section-description {
  line-height: 1.85em;
}

.Section-inner {
  padding: 44px 8vw;
}

.Section-inner--wide {
  padding: 44px 5vw;
}

.Section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  -webkit-transform: translateX(-10vw);
  transform: translateX(-10vw);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.Section-intro-divider {
  background: #1d1d1e;
  height: 1px;
  margin: 8px 8px 0 0;
  width: 44px;
}

.Section-intro-text {
  font-size: 0.875em;
}

.Section-intro.is-visible {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.Section-list {
  margin-top: 44px;
}

.Section-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 44px 0 24px 0;
  position: relative;
}

.Section-subcontent-description {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 16px;
  position: relative;
  text-align: left;
  word-break: break-all;
  z-index: 2;
}

.Section-subcontent-figure {
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.Section-subcontent-figure-image {
  display: block;
  height: auto;
  width: 100%;
}

.Section-subcontent::after {
  background: #ebebed;
  content: '';
  left: 0;
  min-width: 170px;
  height: 0%;
  position: absolute;
  top: 0;
  -webkit-transition: height 0.6s ease-out;
  transition: height 0.6s ease-out;
  width: 100%;
  z-index: 0;
}

.Section-subcontent.is-visible::after {
  height: 100%;
}

.Section-subtitle {
  font-size: 1.125em;
}

.Section-title {
  font-family: 'Vollkorn', Arial, serif;
  font-weight: 600;
  margin: 44px 0 24px 0;
}

.Section--dark {
  background: #1d1d1e;
  color: #ffffff;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Section {
    margin-bottom: 44px;
  }
  .Section-column:not(:last-child) {
    margin-right: 24px;
  }
  .Section-content {
    text-align: left;
  }
  .Section-description--narrow {
    max-width: 50vw;
  }
  .Section-inner {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .Section-subcontent {
    margin-top: 88px;
  }
}

.Button {
  display: block;
  font-size: 0.875em;
  padding: 12px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Button-primary {
  background: #1d1d1e;
  border-radius: 2px;
  color: #ffffff;
}

.Button-primary--hollow {
  background: none;
  border: 1px solid #03b787;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #03b787;
}

.Card {
  -webkit-box-shadow: 0 1px 8px rgba(50, 50, 93, 0.1);
  box-shadow: 0 1px 8px rgba(50, 50, 93, 0.1);
  margin: 0;
  position: relative;
}

.Card-figure {
  height: 160px;
  margin: 0;
  width: 240px;
}

.Card-figure-image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.Card-figure.is-placeholder {
  background: #ebebed;
}

.Card-info {
  background: #ffffff;
  color: #1d1d1e;
  padding: 12px;
  text-align: left;
}

.Card-info-title {
  font-weight: 500;
  margin-bottom: 12px;
}

.Card-info-description {
  font-size: 0.875em;
  margin-bottom: 12px;
}

.Card-info-service {
  border-top: 1px solid #d0d0d6;
  color: #37373a;
  font-size: 0.75em;
  padding-top: 8px;
}

.Card-info-service::-moz-selection {
  color: #1d1d1e;
}

.Card-info-service::selection {
  color: #1d1d1e;
}

@media only screen and (max-width: 340px) {
  .Card-placeholder-image {
    font-size: 4rem !important;
  }
}

.Form {
  width: 100%;
}

.Form-action {
  background: none;
  border: 1px solid #1d1d1e;
  color: #1d1d1e;
  display: block;
  padding: 12px 64px;
  text-align: center;
}

.Form-group {
  margin-bottom: 24px;
}

.Form-input, .Form-textarea {
  border-bottom: 1px solid #9b9ba3 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  height: 2.5rem !important;
  outline: none;
  resize: vertical;
}

.Form-input:focus, .Form-input:active, .Form-textarea:focus, .Form-textarea:active {
  border-bottom: 1px solid #03b787 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.Form-label {
  color: #68686c;
  display: block;
  font-size: 0.875em;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.Form-row {
  margin-bottom: 24px;
}

.Form-textarea {
  height: 120px !important;
  resize: none;
  overflow: hidden;
}

/**
 * Default: Mobile
 */
.Hero {
  height: 100vh;
  margin-bottom: 24px;
}

.Hero-description {
  word-break: break-word;
  width: 80%;
}

.Hero-divider {
  height: 1.6px;
  margin-bottom: 24px;
  width: 32px;
}

.Hero-divider--dark {
  background: #1d1d1e;
}

.Hero-divider--white {
  background: #ffffff;
}

.Hero-figure {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  position: relative;
  width: 100%;
}

.Hero-figure-background {
  background: #ebebed;
  height: 40%;
  margin-bottom: 44px;
  width: 100%;
}

.Hero-figure-foreground {
  bottom: 0;
  height: 100%;
  max-width: 800px;
  position: absolute;
  right: -16vw;
}

.Hero-figure-image {
  height: auto;
  width: 100%;
}

.Hero-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  padding: 64px 8vw;
  width: 100%;
}

.Hero-title {
  font-family: 'Vollkorn', Arial, serif;
  font-weight: 600;
  margin-bottom: 24px;
}

/**
 * Tablet and Desktop
 */
@media only screen and (min-width: 768px) {
  .Hero {
    margin-bottom: 44px;
  }
  .Hero-content {
    padding: 24px;
    position: absolute;
  }
  .Hero-divider {
    width: 46px;
  }
  .Hero-figure {
    height: 100%;
  }
  .Hero-figure-background {
    margin-bottom: 84px;
  }
  .Hero-figure-foreground {
    width: 100%;
  }
  .Hero-inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .Hero-title {
    margin-bottom: 64px;
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.Icon {
  color: #1d1d1e;
  display: block;
}

.Icon-mail {
  font-size: 1.20em;
}

.List-category:not(:last-child) {
  margin-bottom: 24px;
}

.List-item {
  font-size: 0.875em;
  line-height: 1.75em;
}

.List-title {
  font-family: 'Vollkorn', Arial, serif;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 0;
}

.Nav-item {
  color: #1d1d1e;
}

.Nav-item:not(:first-child) {
  padding-left: 24px;
}

.Nav-logo {
  color: #1d1d1e;
  font-weight: 600;
  padding: 16px 0;
  font-family: 'Vollkorn', Arial, serif;
}

.Nav-link {
  font-family: 'Heebo', Arial, sans-serif;
  color: #1d1d1e;
  display: inline-block;
  line-height: initial;
  padding: 2px 0;
  position: relative;
  text-transform: lowercase;
}

.Nav-link::after {
  background: #1d1d1e;
  bottom: 0;
  content: '';
  height: 1.6px;
  left: 0;
  position: absolute;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%;
}

.Nav-link:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.Nav-link.is-active {
  font-weight: 500;
}

.Nav-menu-icon {
  color: #1d1d1e;
}

.Nav-list {
  list-style: none;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .hide-on-small {
    display: none;
  }
}

@media only screen and (min-width: 401px) {
  .hide-on-medium {
    display: none;
  }
}

.SideMenu-footer {
  bottom: 0;
  padding: 24px 16px;
  position: absolute;
  width: 100%;
}

.SideMenu-item {
  border-bottom: 1px solid #ebebed;
  margin-left: 24px;
}

.SideMenu-link {
  font-weight: 400 !important;
  padding: 0 24px !important;
}

.SideMenu-link.is-active {
  font-weight: 500 !important;
}

.SideMenu-list {
  height: 100%;
  padding-top: 24px;
  width: 80vw;
}

.Social-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Social-list--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -16px;
}

.Social-list--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.Social-link {
  padding: 16px;
}

.Social-link-icon {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.Social-link:hover .Social-link-icon {
  color: #03b787;
}

.Social-link--small {
  padding: 14px;
}

/**
 * Default: Mobile
 */
.Timeline {
  position: relative;
}

.Timeline-date {
  font-size: 0.875em;
}

.Timeline-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Timeline-item {
  margin: 0 0 24px 24px;
}

.Timeline-item::before {
  background-color: #37373a;
  border-radius: 50%;
  content: '';
  height: 8px;
  left: 4.4px;
  margin-top: 6px;
  position: absolute;
  width: 8px;
  z-index: 1;
}

.Timeline-subtitle {
  margin-bottom: 8px;
}

.Timeline-title {
  font-weight: 500;
}

.Timeline::after {
  content: '';
  background-color: #9b9ba3;
  bottom: 16px;
  margin-left: 8px;
  position: absolute;
  top: 6px;
  width: 0.8px;
}
